div.input {
    float: left;
}
div.date {
    width: 13ex;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}
 
.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}
 
#viewsChart {
    width: 550px;
    height: 550px;
}



/******** For account editing page */
#account-tabs #H div.inputline,
#account-tabs #A div.inputline
{
   overflow: auto;
}

#account-tabs #H label,
#account-tabs #A label
 {
   display: block;
   float: left;
   text-align: right;
   margin-right: 0.5ex;
}
#account-tabs #H div.inputgroup,
#account-tabs #A div.inputgroup
 {
   float: left;
   display: block;
}

#account-tabs #H label.line,
#account-tabs #A label.line
 {
   font-weight: bold; 
   width: 12em;
   margin-right: 0.5em;
   vertical-align: center;
   height: 100%
}

#account-tabs #H div.inputgroup label,
#account-tabs #A div.inputgroup label
 {
   width: 8em; 
}

#account-tabs #H div.subsectionhead,
#account-tabs #A div.subsectionhead
 {
   font-weight: bold;
   margin: 1em;
}

/********* For business units editing page ********/

#business_units div.table { display: table;}
#business_units form.tr,
#business_units div.tr { display: table-row; }
#business_units div.td,
#business_units div.th {display: table-cell; }


/********* For assets editing page ********/

#assets label
{ display: block;
	float: left;
	width: 170px;	
	text-align: right;
}

#assets span.inputgroup
{ display: block;
	float: left;
	width: 40%;
}

#assets div.inputrow
{
   display: block;
	width: 100%;
   clear: both;
}

#assets .invisible
{
       display: none;
}


/***** Contact screens ******/


#credit_div table label { display: inline-block; width: 12ex; }




#budgets div.input_row {
    overflow: auto;
}
#budgets div.input_group {
    float: left;
    width: 35em;
}

#budgets div label {
    text-align: right;
    width: 7em;
    display: block;
    float: left;
    padding-right: 3px;
}
