div.input {
    float: left;
}
.lsmb .dijitTextBox {
    /* neutralize default textbox width of 15em */
    /* we need two classes here, because it needs to be more specific
       than the .dijitTextBox class in order to be the applicable rule */
    width: auto;
}

div.date {
    width: 13ex;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.flat-hierarchy .balancesheet .report-head th {
    text-align: right;
    font-weight: bold;
}

.flat-hierarchy .balancesheet .section1.QL,
.flat-hierarchy .income_statement .section1 {
    display: none;
    border: none;
}


.flat-hierarchy .balancesheet .section1,
.flat-hierarchy .balancesheet .section2,
.flat-hierarchy .income_statement .section2 {
    font-size: large;
    border-bottom: 3px double black;
}

.financial-statement.flat-hierarchy .heading1,
.financial-statement.flat-hierarchy .balancesheet .heading2 {
    border-top: 1px solid black;
    height: 2em;
    vertical-align: top;
    font-weight: bold;
}

.financial-statement.flat-hierarchy .income_statement .heading2 {
    border-top: 1px solid black;
    height: 2em;
    vertical-align: top;
    font-style: italic;
    font-size: bigger;
}

#maindiv {
    overflow-y: auto;
]
.financial-statement.flat-hierarchy table {
    min-width: 60ex;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
    margin-top: 3em;
}

.financial-statement.flat-hierarchy table td,
.financial-statement.flat-hierarchy table th {
    padding-bottom: 3px; /* add space for the dashed line underlining hovered amounts */
}


.financial-statement .company-name {
   margin-top: 2em;
   font-family: monospace;
   text-align: center;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}
.financial-statement .company-address {
   font-family: monospace;
   text-align: center;
   font-size: smaller;
}
#viewsChart {
    width: 550px;
    height: 550px;
}



/******** For account editing page */
#account-tabs #H div.inputline,
#account-tabs #A div.inputline
{
   overflow: auto;
}

#account-tabs #H label,
#account-tabs #A label
 {
   display: block;
   float: left;
   text-align: right;
   margin-right: 0.5ex;
}
#account-tabs #H div.inputgroup,
#account-tabs #A div.inputgroup
 {
   float: left;
   display: block;
}

#account-tabs #H label.line,
#account-tabs #A label.line
 {
   font-weight: bold;
   width: 12em;
   margin-right: 0.5em;
   vertical-align: center;
   height: 100%
}

#account-tabs #H div.inputgroup label,
#account-tabs #A div.inputgroup label
 {
   width: 8em;
}

#account-tabs #H div.subsectionhead,
#account-tabs #A div.subsectionhead
 {
   font-weight: bold;
   margin: 1em;
}

/********* For business units editing page ********/

#business_units div.table { display: table; }
#business_units div.tr { display: table-row; }
#business_units div.td,
#business_units div.th {
  display: table-cell;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  text-align: center;
 }


/********* For assets editing page ********/

#assets label
{ display: block;
	float: left;
	width: 170px;
	text-align: right;
}

#assets span.inputgroup
{ display: block;
	float: left;
	width: 40%;
}

#assets div.inputrow
{
   display: block;
	width: 100%;
   clear: both;
}

#assets .invisible
{
       display: none;
}


/***** Contact screens ******/


#credit_div table label { display: inline-block; width: 12ex; }



/***** Budgetting screens ******/


#budgets div.input_row {
    overflow: auto;
}
#budgets div.input_group {
    float: left;
    width: 35em;
}

#budgets div label {
    text-align: right;
    width: 7em;
    display: block;
    float: left;
    padding-right: 3px;
}



/***** PNL Report ******/

#PNL a {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}
#PNL a:link {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}
#PNL a:visited {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}
#PNL a:hover {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
	border-bottom: thin dashed;
}
#PNL td.amount {
	text-align: right;
}
#PNL tr.separator {
        min-height: 1em;
}
#PNL tr.sectionhead {
}
#PNL tr.sectionhead th {
        padding-top: 2em;
        margin-top: 4em;
        font-weight: bold;
	white-space: pre;
	text-align: right;
}

#PNL td.total {
        border: 0px;
	border-top: 1px;
        border-color: black;
        border-style: solid;
}

#PNL th {
	vertical-align: bottom;
}

#PNL table {
      margin-right: auto;
      margin-left: auto;
}
#PNL h1, h2 {
       text-align: center;
}

/****** Reconciliation ****/


#reconciliation #cleared-table {
	width: 800px;
}

#reconciliation #outstanding-table {
	width: 800px;
}

#reconciliation #error-table {
	width: 800px;
}

#reconciliation span.heading {
	font-weight: bold;
}

#reconciliation table.info tr th {
	text-align: left;
}

#reconciliation tr.spacer {
	margin-bottom: 100px;
}

#reconciliation span.data {
}
#reconciliation th {
	font-weight: bold;
}

#reconciliation table {
	border: 0;
}


/*********** payments *************/

/*
#payments table.detail_table_visible {
	display: block;
}
#payments table.detail_table_hidden{
	display: none;
}

#payments div.selectall {
       float: left;
}

#payments div {
	overflow: auto;
}

#payments label {
	text-align: right;
        float: left;
	width: 8em;
	margin-right: 1em;
}


#payments input {
	float: left;
}

#payments input[type="checkbox"],
#payments input[type="radio"]{
	float: none;
}
*/

#payments .details_select input[type="radio"] {
        float: left;
}
#payments select {
	float: left;
}
#payments span.input {
     display: block;
     float: left;
}

#payments .details-popup {
    position: absolute;
    z-index: 100;
    padding: 3px;
    border-radius: 6px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#payments img.details-toggler {
    height: 0.5em;
    width: auto;
}

@media print {
  .export-links {
     display: none;
  }
}

@media not print {
  .export-links {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  .export-link {
      display: inline;
  }
}
