div.input {
    float: left;
}

.financial-statement.flat-hierarchy .heading1 {
    border-top: 1px solid black;
    height: 2em;
    vertical-align: top;
    font-weight: bold;
    font-size: bigger;
}

.financial-statement.flat-hierarchy .heading2 {
    border-top: 1px solid black;
    height: 2em;
    vertical-align: top;
    font-style: italic;
    font-size: bigger;
}

.financial-statement.flat-hierarchy table {
    min-width: 60ex;
    margin-top: 3em;
}

.financial-statement .company-name {
   margin-top: 2em;
   font-family: monospace;
   text-align: center;
}

.financial-statement .company-address {
   font-family: monospace;
   text-align: center;
}