li.menu_closed {
}

li.menu_closed > ul {
	display: none;
}

li.menu_open > ul {
	display: block;
}

/*
 * dijitTreeIcon & dijitTreeExpando are redundant
 * Select the former for + signs or the latter for folder icons
 */
/*
.dijitTreeIcon {
    background-image: none;
    width: 0
}
*/
.claro .dijitTreeExpando {
    background-image: none;
    width: 0
}

#version_info {
    text-align: center;
}

.header_table {
    margin-left: auto;
    margin-right: auto;
    border=none; border-height:0; padding-top:0; padding-bottom:0; margin-top:0; margin-bottom:0;
    border-collapse: collapse;
}

.header_left {
    font-size: smaller;
    text-align: right;
    border-right: 1px solid;
    padding-right: 3px;
}

.header_right {
    font-size: smaller;
    text-align: left;
    border-left: 1px solid;
    padding-left: 3px;
}
