<div>
  <div id="pwtitle" class="listtop"></div>
  <div id="pwfeedback" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="feedback">&#xA0;</div>
  <div id="pwcontainer" class="two-column-grid" style="width:fit-content">
    <label id="old-pw-label" for="old-pw"></label>
    <input id="old-pw" data-dojo-type="dijit/form/TextBox" type="password" data-dojo-attach-point="oldpw" />

    <label id="new-pw-label" for="new-pw"></label>
    <input id="new-pw" data-dojo-type="dijit/form/TextBox" type="password" data-dojo-attach-point="newpw" />

    <label id="pw-strength-label" for="pw-strength"></label>
    <div style="display:inline-block" id="pw-strength">0</div>

    <label id="verify-pw-label" for="verify-pw"></label>
    <input id="verify-pw" data-dojo-type="dijit/form/TextBox" type="password" data-dojo-attach-point="verified"/>
  </div>
  <hr size="3" noshade="noshade" />
  <button data-dojo-type="dijit/form/Button" id="pw-change" data-dojo-attach-point="submitbutton"></button>
</div>
