<div>
  <div id="pwtitle" style="width:100%" class="listheading"></div>
  <div id="pwfeedback" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="feedback">&#xA0;</div>
  <div data-dojo-type="lsmb/TabularForm" id="pwcontainer" data-dojo-props="cols:1">
    <div class="input-line">
      <input id="old-pw" data-dojo-type="dijit/form/TextBox" type="password" data-dojo-attach-point="oldpw" />
    </div>
    <div class="input-line">
      <input id="new-pw" data-dojo-type="dijit/form/TextBox" type="password" data-dojo-attach-point="newpw" />
    </div>
    <div class="input-line" id="pw-strength-container">
        <div id="pw-strength" data-dojo-type="dijit/layout/ContentPane">0</div>
    </div>
    <div class="input-line">
      <input id="verify-pw" data-dojo-type="dijit/form/TextBox" type="password" data-dojo-attach-point="verified"/>
    </div>
    <div class="input-line">
      <button data-dojo-type="dijit/form/Button" id="pw-change" data-dojo-attach-point="submitbutton"></button>
    </div>
    <div class="input-line"></div>
  </div>
</div>
