# .gitignore for LedgerSMB
#
# Vim swap files
*.swp
#
# Perl Module::Build, Module::Install, ExtUtils::MakeMaker
META.yml
Makefile
inc/
#
# LedgerSMB runtime files
ledgersmb.conf

# /
/Makefile
/META.yml
/inc
/blib
/pm_to_blib
/ledgersmb.conf
/ledgersmb-httpd.conf

# /bin/custom/
/bin/custom/*

# /doc/manual/
/doc/manual/*.aux
/doc/manual/*.lof
/doc/manual/*.toc
/doc/manual/*.log
/doc/manual/*.out

# Custom extensions to Tests and Validations
*_Tests_Custom.pm
*_Validations_Custom.pm
