# .gitignore for LedgerSMB
#
# Vim swap files
*.swp
#
# Perl Module::Build, Module::Install, ExtUtils::MakeMaker
META.yml
#
# LedgerSMB runtime files
ledgersmb.conf

# /
/META.yml
/ledgersmb.conf
/ledgersmb-httpd.conf

# /bin/custom/
/bin/custom/*

# Dojo build artifacts
/UI/js/*

# /doc/manual/
/doc/manual/*.aux
/doc/manual/*.lof
/doc/manual/*.toc
/doc/manual/*.log
/doc/manual/*.out

# Custom extensions to Tests and Validations
*_Tests_Custom.pm
*_Validations_Custom.pm

# test output:
/logs/*
/screens/*

# Webpack
/node_modules/
package-lock.json
