[submodule "UI/js-src/dojo"]
	path = UI/js-src/dojo
	url = https://github.com/dojo/dojo.git
	branch = tags/1.15.1
[submodule "UI/js-src/dijit"]
	path = UI/js-src/dijit
	url = https://github.com/dojo/dijit.git
	branch = tags/1.15.1
[submodule "UI/js-src/util"]
	path = UI/js-src/util
	url = https://github.com/dojo/util.git
