# .gitignore for LedgerSMB
#
# Vim swap files
*.swp
# Visual Studio swap files
.vscode
#
# Perl Module::Build, Module::Install, ExtUtils::MakeMaker
META.yml
#

# Transifex configuration:
.transifexrc

# /
/META.yml
/ledgersmb.conf
/ledgersmb.logging
/ledgersmb.yaml
/ledgersmb-httpd.conf

# /bin/custom/
/bin/custom/*

# Dojo build artifacts
/UI/js/*

# /doc/manual/
/doc/manual/*.aux
/doc/manual/*.lof
/doc/manual/*.toc
/doc/manual/*.log
/doc/manual/*.out

* README.md is now produced from a template
./README.md

# Custom extensions to Tests and Validations
*_Tests_Custom.pm
*_Validations_Custom.pm

# test output:
/logs/*
/screens/*

# Coverage
/cover_db/*
/coverage/*

# Webpack
/node_modules/

# local configurations
*.local
/.bash_history
/.cache
/.config
/.npm
