/* stylelint-disable no-descending-specificity, plugin/no-unsupported-browser-features */

body {
    overflow-y: auto;
}

div#loading {
    background: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

body:not([data-lsmb-done]) #loading {
    display: block;
}

body:not([data-lsmb-done]) #logindiv {
    visibility: hidden;
}

body[data-lsmb-done="true"] #loading {
    display: none;
}

body[data-lsmb-done="true"] #logindiv {
    visibility: visible;
}

body.setup-upgrade {
    overflow: auto;
}

div.setupconsole {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 4px black;
    box-sizing: border-box;
    margin: 2em auto;
    max-width: 100%;
    min-width: 21em;
    padding: 4em;
    position: relative;
    width: max-content;
}

div#logindiv {
    margin: 0 auto;
    text-align: center;
}

form#loginform {
    display: inline-block;
}

.login_form {
    display: grid;
    gap: 0.3em 0.3em;
    grid-template-columns: auto auto;
    text-align: left;
}

.inputrow {
    padding-bottom: 2px;
    padding-left: 4ex;
    padding-top: 3px;
}

/* Prevent inheritance of the above */
.inputrow * {
    padding: initial;
}

div {
    overflow: auto;
}

label #yesno {
    width: 2em;
}

caption {
    font-weight: bold;
    margin-top: 3em;
}

label {
    margin: 0;
    width: 10em;
}

input {
    text-align: left;
    width: 14em;
}

#yesno input {
    margin-right: 3em;
    width: 1em;
}

#yesno span {
    display: block;
    float: left;
}

img.logo {
    border-style: none;
    height: 8em;
    width: 16em;
}

button {
    margin-top: 10px;
}

.listtop {
    font-size: larger;
}

tr.listheading {
    background-color: lightgrey;
}
tr.listrow:nth-child(even) { background: #fff; }
tr.listrow:nth-child(odd) { background: #eee; }

td.dijitStretch {
    min-width: 125px;
}

.notice {
    background-color: red;
    color: white;
    margin-left: 1px;
}

td.transdate,
td.duedate,
td.datepaid {
    white-space: nowrap !important;
}
