/* stylelint-disable no-descending-specificity, plugin/no-unsupported-browser-features */

body {
    overflow-y: auto;
}

div#loading {
    background: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

div.setupconsole {
    background-color: white;
    border-style: outset;
    margin: 2em auto;
    min-width: 21em;
    padding: 2em;
    padding-bottom: 2em;
}

div#logindiv {
    height: calc(100% - 4em);
    left: 0;
    margin: 0 auto;
    padding: 2em;
    position: absolute;
    text-align: center;
    top: 0;
    width: calc(100% - 4em);
    z-index: 90;
}

form#loginform {
    display: inline-block;
}

.login_form {
    text-align: left;
}

.inputrow {
    padding-bottom: 2px;
    padding-left: 4ex;
    padding-top: 3px;
}

/* Prevent inheritance of the above */
.inputrow * {
    padding: initial;
}

div {
    overflow: auto;
}

label #yesno {
    width: 2em;
}

caption {
    font-weight: bold;
    margin-top: 3em;
}

label {
    border-width: 1px;
    float: left;
    margin: 0;
    margin-top: 0.5em;
    padding-right: 0.5em;
    width: 10em;
}

input {
    border-width: 3px;
    float: left;
    margin: 0;
    margin-top: 0.5em;
    text-align: left;
    width: 14em;
}

#yesno input {
    margin-right: 3em;
    width: 1em;
}

#yesno span {
    display: block;
    float: left;
}

img.logo {
    border-style: none;
    height: 8em;
    width: 16em;
}

button {
    margin-top: 10px;
}

.listtop {
    font-size: larger;
}

tr.listheading {
    background-color: lightgrey;
}
tr.listrow:nth-child(even) { background: #fff; }
tr.listrow:nth-child(odd) { background: #eee; }

td.dijitStretch {
    min-width: 125px;
}

.notice {
    background-color: red;
    color: white;
    margin-left: 1px;
}

td.transdate,
td.duedate,
td.datepaid {
    white-space: nowrap !important;
}
