# Place this in /etc/systemd/system/plackup-ledgersmb.service
# systemctl enable plackup-ledgersmb
# service start plackup-ledgersmb

[Unit]
Description=LedgerSMB Plack
After=network.target

[Service]
WorkingDirectory=WORKING_DIR

#If you do not want a log file, comment this and remove the access_log option below
Environment=LOG=/var/log/plack/plackup_ledgersmb.log

# In case you installed dependencies into a 'local::lib'
# make sure you set the PERL5LIB environment variable
#Environment=PERL5LIB=/path/to/local-lib/lib/perl5

# Be sure to set a user and group below
# which don't have write access to the directories
# holding the LedgerSMB sources
User=ledgersmb
Group=ledgersmb
# Use -R to monitor files changes and restart the server
# The list below is exhaustive, change it to suit your needs
ExecStart=/usr/bin/plackup           \
    --listen localhost:5762          \
    -I lib/                          \
    -I old/lib/                      \
    --workers 3                      \
    --access-log $LOG                \
    --server Starman                 \
    -R "bin,\
        lib,\
        lib/LedgerSMB,\
        lib/LedgerSMB/Auth,\
        lib/LedgerSMB/Database,\
        lib/LedgerSMB/DBObject,\
        lib/LedgerSMB/Entity,\
        lib/LedgerSMB/Entity/Payroll,\
        lib/LedgerSMB/Entity/Person,\
        lib/LedgerSMB/File,\
        lib/LedgerSMB/Inventory,\
        lib/LedgerSMB/Payroll,\
        lib/LedgerSMB/Reconciliation,\
        lib/LedgerSMB/Report,\
        lib/LedgerSMB/Report/Assets,\
        lib/LedgerSMB/Report/Budget,\
        lib/LedgerSMB/Report/co,\
        lib/LedgerSMB/Report/Contact,\
        lib/LedgerSMB/Report/File,\
        lib/LedgerSMB/Report/Inventory,\
        lib/LedgerSMB/Report/Invoices,\
        lib/LedgerSMB/Report/Listings,\
        lib/LedgerSMB/Report/Payroll,\
        lib/LedgerSMB/Report/PNL,\
        lib/LedgerSMB/Report/Reconciliation,\
        lib/LedgerSMB/Report/Taxform,\
        lib/LedgerSMB/Report/Unapproved,\
        lib/LedgerSMB/Request,\
        lib/LedgerSMB/REST_Class,\
        lib/LedgerSMB/REST_Format,\
        lib/LedgerSMB/RESTXML/Document,\
        lib/LedgerSMB/Scripts,\
        lib/LedgerSMB/Scripts/employee,\
        lib/LedgerSMB/Setting,\
        lib/LedgerSMB/Taxes,\
        lib/LedgerSMB/Template,\
        lib/LedgerSMB/Timecard,\
        lib/LedgerSMB/X12" \
    tools/starman.psgi
Restart=always

[Install]
WantedBy=multi-user.target
