# Place this in /etc/systemd/system/plack-fcgi-ledgersmb.service
# systemctl enable starman-ledgersmb
# service start starman-ledgersmb

[Unit]
Description=Plack/FCGI LedgerSMB
After=network.target

[Service]
WorkingDirectory=WORKING_DIR
# Be sure to set a user and group below
# which don't have write access to the directories
# holding the LedgerSMB sources
User=ledgersmb
Group=ledgersmb
ExecStart=/usr/bin/plackup                     \
    -s FCGI                                    \
    --listen localhost:5055                    \
    -I lib                                     \
    tools/starman.psgi
Restart=always

[Install]
WantedBy=multi-user.target