<?lsmb#   This is a comment block; it's ignored by the template engine.

   Version:  1.0
   Date:     2021-01-04
   File:     display_report.html
   Set:      demo

Template version numbers are explicitly not aligned across templates or
releases. No explicit versioning was applied before 2021-01-04.

-?>
<?lsmb

PROCESS "dynatable.html";

?>
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    table tbody tr:nth-child(2n) {
        background-color: #e6e6fa;
    }
    table tbody tr:nth-child(2n+1) {
        background-color: #ffeeec;
    }
    table td, table th {
        padding: 0.2em 1ex;
    }
    table thead {
        background-color: #bcd8f4;
    }
    label {
        font-weight: bold;
    }
    div.heading-section {
        margin-bottom: 2em;
    }
  </style>
</head>
<body>
  <div class="heading-section">
    <div class="report-header">
      <label><?lsmb text('Report Name') ?>:</label>
      <span class="report-header"><?lsmb name ?></span>
    </div>
    <div class="report-header">
      <label><?lsmb text('Company') ?>:</label>
      <span class="report-header"><?lsmb SETTINGS.company_name ?></span>
    </div><?lsmb FOREACH LINE IN hlines ?>
    <div class="report-header">
      <label><?lsmb LINE.text ?>:</label>
      <span class="report-header"><?lsmb LINE.value ?></span>
    </div><?lsmb END ?>
  </div><?lsmb PROCESS dynatable tbody = {rows = rows }
                 attributes = {class = 'report', order_url = order_url } ?>
</body>
</html>
