
<body>

<h2 align=center>
<?lsmb company ?>
<br><?lsmb address ?>

<p>INCOME STATEMENT
<br><?lsmb period ?>
</h2>

<?lsmb IF department ?>
<h4>Department: <?lsmb department ?></h4>
<?lsmb END ?>

<?lsmb IF projectnumber ?>
<h4>Project Number: <?lsmb projectnumber ?></h4>
<?lsmb END ?>

<table width=100% border=0>
<tr>
  <th width=400 align=left colspan=2>INCOME<br><hr width=300 size=5 align=left noshade></th>
  <th><?lsmb this_period ?></th>
  <th><?lsmb last_period ?></th>
</tr>

<?lsmb FOREACH income_account ?>
<?lsmb loop_count = loop.count - 1 ?>
<tr>
  <td width=4> </td>
  <td><?lsmb income_account.${loop_count} ?></td>
  <td align=right><?lsmb income_this_period.${loop_count} ?></td>
  <td align=right><?lsmb income_last_period.${loop_count} ?></td>
</tr>
<?lsmb END ?>

<tr>
  <td colspan=2> </td>
  <td><hr noshade size=1></td>
  <td><hr noshade size=1></td>
</tr>

<tr valign=top>
  <td> </td>
  <th align=left>TOTAL INCOME</th>
  <td align=right><?lsmb total_income_this_period ?><hr noshade size=2></td>
  <td align=right><?lsmb total_income_last_period ?><hr noshade size=2></td>
</tr>

<tr>
  <th align=left colspan=2>EXPENSES<br><hr width=300 size=5 align=left noshade></th>
</tr>

<?lsmb FOREACH expense_account ?>
<?lsmb loop_count = loop.count - 1 ?>
<tr>
  <td> </td>
  <td><?lsmb expense_account.${loop_count} ?></td>
  <td align=right><?lsmb expenses_this_period.${loop_count} ?></td>
  <td align=right><?lsmb expenses_last_period.${loop_count} ?></td>
</tr>
<?lsmb END ?>

<tr>
  <td colspan=2> </td>
  <td><hr noshade size=1></td>
  <td><hr noshade size=1></td>
</tr>

<tr valign=top>
  <td> </td>
  <th align=left>TOTAL EXPENSES</th>
  <td align=right><?lsmb total_expenses_this_period ?><br><hr noshade size=2</td>
  <td align=right><?lsmb total_expenses_last_period ?><br><hr noshade size=2</td>
</tr>

<tr valign=top>
  <th align=left colspan=2>INCOME / (LOSS)</th>
  <td align=right><?lsmb total_this_period ?><br><hr noshade size=2></td>
  <td align=right><?lsmb total_last_period ?><br><hr noshade size=2></td>
</tr>

</table>

</body>
</html>

