<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><?lsmb text('Packing List') ?></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor=ffffff>

<table width="100%">

  <?lsmb LETTERHEAD ?>

  <tr>
    <td width=10>&nbsp;</td>

    <th colspan=3>
      <h4 style="text-transform:uppercase">
           <?lsmb text('Packing List') ?></h4>
    </th>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% cellspacing=0 cellpadding=0>
	<tr bgcolor=000000>
	  <th width=50% align=left><font color=ffffff>
               <?lsmb text('Ship To:') ?>
          </th>
	  <th width="50%">&nbsp;</th>
	</tr>

	<tr valign=top>
	  <td><?lsmb shiptoname ?>
	  <br><?lsmb shiptoaddress1 ?>
	  <?lsmb IF shiptoaddress2 ?>
	  <br><?lsmb shiptoaddress2 ?>
	  <?lsmb END ?>
	  <br><?lsmb shiptocity ?>
	  <?lsmb IF shiptostate ?>
	  , <?lsmb shiptostate ?>
	  <?lsmb END ?>
	  <?lsmb shiptozipcode ?>
	  <?lsmb IF shiptocountry ?>
	  <br><?lsmb shiptocountry ?>
	  <?lsmb END ?>
	  </td>

	  <td>
	  <?lsmb IF shiptocontact ?>
	  <br><?lsmb text('Attn: [_1]', shiptocontact) ?>
	  <?lsmb END ?>

	  <?lsmb IF shiptophone ?>
	  <br><?lsmb text('Tel: [_1]', shiptophone) ?>
	  <?lsmb END ?>

	  <?lsmb IF shiptofax ?>
	  <br><?lsmb text('Fax: [_1]', shiptofax) ?>
	  <?lsmb END ?>

	  <?lsmb shiptoemail ?>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% border=1>
	<tr>
	  <th width=17% align=left><?lsmb text('Invoice #') ?></th>
	  <th width=17% align=left><?lsmb text('Order #') ?></th>
	  <th width=17% align=left><?lsmb text('Date') ?></th>
	  <th width=17% align=left nowrap><?lsmb text('Contact') ?></th>
	  <?lsmb IF warehouse ?>
	  <th width=17% align=left><?lsmb text('Warehouse') ?></th>
	  <?lsmb END ?>
	  <th width=17% align=left><?lsmb text('Shipping Point') ?></th>
	  <th width=15% align=left><?lsmb text('Ship via') ?></th>
	</tr>

        <tr>
	  <td><?lsmb invnumber ?>&nbsp;</td>
	  <td><?lsmb ordnumber ?>&nbsp;</td>

	  <?lsmb IF shippingdate ?>
	  <td><?lsmb shippingdate ?></td>
	  <?lsmb ELSE ?>
	  <td><?lsmb transdate ?></td>
	  <?lsmb END ?>

          <td><?lsmb employee ?>&nbsp;</td>

	  <?lsmb IF warehouse ?>
	  <td><?lsmb warehouse ?>&nbsp;</td>
	  <?lsmb END ?>

	  <td><?lsmb shippingpoint ?>&nbsp;</td>
	  <td><?lsmb shipvia ?>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width="100%">
	<tr bgcolor=000000>
	  <th align=left><font color=ffffff><?lsmb text('Item') ?></th>
	  <th align=left><font color=ffffff><?lsmb text('Number') ?></th>
	  <th align=left><font color=ffffff><?lsmb text('Description') ?></th>
	  <th align=left><font color=ffffff><?lsmb text('Serial #') ?></th>
	  <th>&nbsp;</th>
	  <th><font color=ffffff><?lsmb text('Qty') ?></th>
	  <th><font color=ffffff><?lsmb text('Ship') ?></th>
	  <th>&nbsp;</th>
	</tr>

	<?lsmb FOREACH number ?>
	<?lsmb loop_count = loop.count - 1 ?>
	<tr valign=top>
	  <td><?lsmb runningnumber.${loop_count} ?></td>
	  <td><?lsmb number.${loop_count} ?></td>
	  <td><?lsmb item_description.${loop_count} ?></td>
	  <td><?lsmb serialnumber.${loop_count} ?></td>
	  <td><?lsmb deliverydate.${loop_count} ?></td>
	  <td align=right><?lsmb qty.${loop_count} ?></td>
	  <td align=right><?lsmb ship.${loop_count} ?></td>
	  <td><?lsmb unit.${loop_count} ?></td>
	</tr>
	<?lsmb END ?>

      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td><hr noshade></td>
  </tr>

  <?lsmb IF notes ?>
  <tr>
    <td>&nbsp;</td>

    <td>
      <table width="100%">
	<tr valign=top>
	  <td>Notes</td>
          <td><?lsmb  FOREACH P IN notes.split('\n\n') ?>
                    <p><?lsmb P ?></p>
               <?lsmb END ?></td>
	</tr>
      </table>
    </td>
  </tr>
  <?lsmb END ?>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width="100%">
	<tr valign=top>
	  <td width="70%"><font size=-3>
	  <?lsmb text('Items returned are subject to a 10% restocking charge. A return authorization must be obtained from [_1] before goods are returned. Returns must be shipped prepaid and properly insured. [_1] will not be responsible for damages during transit.', company) ?>
	  </font>
	  </td>
	  <td width="30%">
	  X <hr noshade>
	  </td>
	</tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>

