<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><?lsmb text('Time Card') ?></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor=ffffff>

<table width="100%">

  <?lsmb LETTERHEAD ?>
  
  <tr>
    <td width=10>&nbsp;</td>

    <th colspan=3>
      <h4 style="text-transform:uppercase">
        <?lsmb text('Time Card') ?></h4>
    </th>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% cellspacing=0 cellpadding=0>
        <tr valign=top>
	  <td>
	    <table>
	      <tr>
		<th align=left><?lsmb text('Employee') ?></th>
		<td><?lsmb employee ?></td>
	      </tr>
	      <tr>
		<th align=left><?lsmb text('ID') ?></th>
		<td><?lsmb employee_id ?></td>
	      </tr>
	    </table>
	  </td>
   
	  <td align=right>
	    <table>
	      <tr>
		<th align=left nowrap><?lsmb text('Card ID') ?></th>
		<td><?lsmb id ?></td>
	      </tr>
	      <tr>
		<th align=left nowrap><?lsmb text('Date') ?></th>
		<td><?lsmb transdate ?></td>
	      </tr>
	      <tr>
		<th align=left nowrap><?lsmb text('In') ?></th>
		<td><?lsmb checkedin ?></td>
	      </tr>
              <tr>
                <th align=left><?lsmb text('Out') ?></th>
		<td><?lsmb checkedout ?></td>
	      </tr>
	      <tr>
		<th align=left nowrap><?lsmb text('Hours') ?></th>
		<td><?lsmb qty ?></td>
	      </tr>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table width="100%">
        <tr valign=bottom>
	  <td>
	    <table>
	      <tr valign=top>
	        <th align=left><?lsmb text('Job/Project #') ?></th>
		<td><?lsmb projectnumber ?></td>
	      </tr>
	      <tr>
	        <th align=left><?lsmb text('Description') ?></th>
		<td><?lsmb projectdescription ?></td>
	      </tr>
	      <tr valign=top>
	        <th align=left><?lsmb text('Labor/Service Code') ?></th>
		<td><?lsmb partnumber ?></td>
	      </tr>
	      <tr>
	        <th align=left><?lsmb text('Description') ?></th>
		<td><?lsmb description ?></td>
	      </tr>
	    </table>
	  </td>
	  <td align=right>
	    <table>
	      <tr>
	        <th align=right><?lsmb text('Rate') ?></th>
		<td><?lsmb sellprice ?></td>
	      </tr>
	      <tr>
		<th align=right><?lsmb text('Total') ?></th>
		<td><?lsmb total ?></td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <?lsmb IF notes ?>
  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>

          <td><?lsmb  FOREACH P IN notes.split('\n\n') ?>
                    <p><?lsmb P ?></p>
               <?lsmb END ?></td>
  </tr>
  <?lsmb END ?>

</table>

</body>
</html>

