label { display: block;
	float: left;
	width: 170px;	
	text-align: right;
}

span.inputgroup { display: block;
	float: left;
	width: 40%;
}

div.inputrow {
	overflow: auto;
	width: 100%;
}

.invisible {
       display: none;
}
