version: 2.1

#TODO: To enable matrix, Consider https://github.com/winksaville/circleci-matrix

# Define defaults
_defaults: &defaults
    # Make sure that .profile is sourced for Perlbrew
    shell: /bin/bash --login -eo pipefail


# Define aliases for simplification
aliases:
  - &store_artifacts
    store_artifacts:
      path: /tmp/artifact/

# Reuseable commands
commands:
  prove:
    steps:
      - run:
          command: |
             if [ "x$COVERAGE" == "x1" ]
             then
               export HARNESS_PERL_SWITCHES="$HARNESS_PERL_SWITCHES -MDevel::Cover=-ignore,^/|^utils/|^x?t/|\.lttc$,-blib,0"
             fi
             echo $PERL5OPT
             echo $HARNESS_PERL_SWITCHES
             echo $PWD
             # Coverage explicitly without parallellism to prevent resource contention
             # when Devel::Cover writes coverage database on process-exit
             prove -j2 --recurse \
                   --pgtap-option dbname=lsmbinstalltest \
                   --pgtap-option username=postgres \
                   --pgtap-option psql=.circleci/psql-wrap \
                   --feature-option tags=~@wip t/ xt/
      - run:
          command: |
            while [ $(pidof plackup) ];
            do
              kill -SIGTERM `pidof plackup`
              echo -n "."
              sleep 5
            done
            echo " done"
      - run:
          command: |
            mkdir -p /tmp/artifact/logs;
            mkdir -p /tmp/artifact/screens;
            cp logs/* /tmp/artifact/logs || true;
            cp screens/* /tmp/artifact/screens || true;
          when: always
      - run:
          name: Upload coverage data
          command: |
            if [ "x$COVERAGE" == "x1" ];
            then
              cover -report coveralls
              cover -report text > /tmp/artifact/coverage.txt
            fi
      - *store_artifacts
  prep_env:
    description: "Prepare environment"
    steps:
      - checkout
      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json checksum
            # when this file is changed, this key will fail
            - v1-npm-deps-{{ checksum "~/package-lock.json" }}
            # Find the most recently generated cache used from any branch
            - v1-npm-deps-
      - run:
          name: Make Dojo
          command: |
            make dojo
      - save_cache:
          key: v1-npm-deps-{{ checksum "~/package-lock.json" }}
          paths:
            - node_modules
      # Freshen up CPAN
      - restore_cache:
          keys:
            # Get latest cache for the current specs
            - v1-cpanminus-{{ .Branch }}-{{ checksum ".circleci/config.yml" }}
            # Fall back to the latest for the current branch
            - v1-cpanminus-{{ .Branch }}-
            # Fall back to the latest for master
            - v1-cpanminus-master-
            # Don't fall back any further
      - run:
          name: Refresh modules from CPAN
          command: |
            cpanm --metacpan --quiet --notest \
              --with-develop \
              --with-feature=starman \
              --with-feature=latex-pdf-images \
              --with-feature=latex-pdf-ps \
              --with-feature=openoffice \
              --with-feature=xls \
              --with-feature=edi \
              --installdeps .
            cpanm --metacpan --notest JSON::PP~4.03
            cpanm --metacpan --notest Gazelle
            if [ "x$COVERAGE" == "x1" ]
            then
              cpanm --metacpan --quiet --notest \
                    Devel::Cover \
                    Devel::Cover::Report::Coveralls
            fi
      - save_cache:
           key: v1-cpanminus-{{ .Branch }}-{{ checksum ".circleci/config.yml" }}
           paths:
             - ~/perl5
      - run:
          name: Set up dirs and files
          command: |
            mkdir -p logs screens
            # these commands are in start.sh of the Perl container too:
            cp doc/conf/ledgersmb.conf.default ledgersmb.conf
            sed -i \
                -e "s/\(cache_templates = \).*\$/cache_templates = 1/g" \
                -e "s/\(host = \).*\$/\1$POSTGRES_HOST/g" \
                -e "s/\(port = \).*\$/\1$POSTGRES_PORT/g" \
                -e "s/\(default_db = \).*\$/\1$DEFAULT_DB/g" \
                -e "s%\(sendmail   = \).*%#\1/usr/sbin/ssmtp%g" \
                -e "s/# \(smtphost = \).*\$/\1mailhog:1025/g" \
                -e "s/# \(backup_email_from = \).*\$/\1lsmb-backups@example.com/g" \
                -e "s/#dojo_built = 1/dojo_built = 0/" \
              ledgersmb.conf
  start_plackup:
    description: "Start plackup"
    steps:
      - run:
          command: |
            PERL5OPT="$PERL5OPT -MDevel::Cover=-ignore,^/|^utils/|^x?t/|\.lttc$,-blib,0" \
                    plackup -I$HOME/project/lib -I$HOME/project/old/lib \
                    -s Gazelle --port 5762 --workers=2 --max-reqs-per-child=50000 \
                    $HOME/project/bin/ledgersmb-server.psgi
            echo "Plackup done!"
            touch plackup-done
          background: true
  start_proxy:
    description: "Start the proxy"
    parameters:
      proxy:
        type: string
        default: nginx
    steps:
      - run:
          command: |
            /usr/local/bin/<< parameters.proxy >>.sh
          background: true

# Define executors
executors:
  test:
    parameters:
      perl:
        type: string
        default: latest
      postgres:
        type: string
        default: latest
      browser:
        type: string
        default: chrome
      coverage:
        type: integer
        default: 1
    docker:
      - image: ledgersmb/ledgersmb_circleci-perl:<< parameters.perl >>
      - image: ledgersmb/ledgersmb_circleci-postgres:<< parameters.postgres >>
        environment:
          POSTGRES_PASSWORD: test
      - image: ledgersmb/ledgersmb_circleci-<< parameters.browser >>
    environment:
      COVERAGE: << parameters.coverage >>
#      DEVEL_COVER_OPTIONS:
      RELEASE_TESTING: 1
      PGHOST: localhost
      PGUSER: postgres
      PGPASSWORD: test
      LSMB_TEST_DB: 1
      LSMB_NEW_DB: lsmbinstalltest
      LSMB_BASE_URL: http://127.0.0.1:5000
      PSGI_BASE_URL: http://127.0.0.1:5762
      HARNESS_RULESFILE: t/testrules.yml

# Define jobs
jobs:
  test_nodojo:
    <<: *defaults
    executor:
      name: test
      perl: latest
      postgres: latest
      browser: phantomjs
    steps:
      - prep_env
      - start_plackup
      - start_proxy
      - prove

# Workflows
# Tests multiple browsers, coverage and dojo
workflows:
  workflow:
    jobs:
      - test_nodojo:
          filters:
             branches:
                ignore:
                  - /1\.2\..*/
                  - /1\.3\..*/
                  - /1\.4\..*/
                  - /1\.5\..*/
                  - /1\.6\..*/
