version: 2.1

#TODO: To enable matrix, Consider https://github.com/winksaville/circleci-matrix

# Define defaults
_defaults: &defaults
    # Make sure that .profile is sourced to local::lib
    shell: /bin/bash --login -eo pipefail

# Define aliases for simplification
aliases:
  - &store_artifacts
    store_artifacts:
      path: /tmp/artifact/

job_filters: &job_filters
  branches:
    ignore:
      - /1\.2\..*/
      - /1\.3\..*/
      - /1\.4\..*/
      - /1\.5\..*/
      - /1\.6\..*/

# Reuseable commands
commands:

  prove:
    steps:
      - run:
          command: |
             if [ "x$COVERAGE" == "x1" ]
             then
               export HARNESS_PERL_SWITCHES="$HARNESS_PERL_SWITCHES -MDevel::Cover=-ignore,^/|^utils/|^x?t/|\.lttc$,-blib,0"
             fi
             # Coverage explicitly without parallellism to prevent resource contention
             # when Devel::Cover writes coverage database on process-exit
             BROWSER=$BROWSER prove -j2 --recurse \
                   --pgtap-option dbname=lsmbinstalltest \
                   --pgtap-option username=postgres \
                   --pgtap-option psql=.circleci/psql-wrap \
                   --feature-option tags=~@wip t/ xt/
      - run:
          command: |
            while [ $(pidof plackup) ];
            do
              kill -SIGTERM `pidof plackup`
              echo -n "."
              sleep 5
            done
            echo " done"
      - run:
          command: |
            mkdir -p /tmp/artifact/logs;
            mkdir -p /tmp/artifact/screens;
            cp logs/* /tmp/artifact/logs || true;
            cp screens/* /tmp/artifact/screens || true;
          when: always
      - run:
          name: Upload coverage data
          command: |
            if [ "x$COVERAGE" == "x1" ];
            then
              cover -report coveralls
              cover -report text > /tmp/artifact/coverage.txt
            fi
      - *store_artifacts

  prep_env:
    parameters:
      perl:
        type: string
    description: "Prepare environment"
    steps:
      - checkout
      - run:
          # TODO: Update the CircleCI dev images instead
          name: Update NodeJS to 15.x
          command: |
            curl -sL https://deb.nodesource.com/setup_15.x | sudo -E bash -
            sudo apt-get install -y nodejs
      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json checksum
            # when this file is changed, this key will fail
            - v1-npm-deps-{{ checksum "./package-lock.json" }}
            # Find the most recently generated cache used from any branch
            - v1-npm-deps-
      - run:
          name: Make Dojo
          command: |
            make dojo
      - save_cache:
          key: v1-npm-deps-{{ checksum "./package-lock.json" }}
          paths:
            - node_modules
      # Freshen up CPAN
      - restore_cache:
          keys:
            # Get latest cache for the current specs
            - v2-cpm-<< parameters.perl >>-{{ .Branch }}-{{ checksum "./cpanfile" }}
            # Fall back to the latest for the current branch
            - v2-cpm-<< parameters.perl >>-{{ .Branch }}-
            # Fall back to the latest for master
            - v2-cpm-<< parameters.perl >>-master-
            # Don't fall back any further
      - run:
          name: Refresh modules from CPAN
          command: |
            cpm install --local-lib-contained=$HOME/perl5 --no-test \
              --resolver=metacpan \
              --with-develop \
              --feature=starman \
              --feature=latex-pdf-ps \
              --feature=openoffice \
              --feature=xls \
              --feature=edi
            cpm install --local-lib-contained=$HOME/perl5 --no-test \
              --resolver=metacpan \
                JSON::PP~4.03 Gazelle
            if [ "x$COVERAGE" == "x1" ]
            then
              cpm install --local-lib-contained=$HOME/perl5 --no-test \
                  --resolver=metacpan \
                  Devel::Cover \
                  Devel::Cover::Report::Coveralls
            fi
      - save_cache:
           key: v2-cpm-<< parameters.perl >>-{{ .Branch }}-{{ checksum "./cpanfile" }}
           paths:
             - $HOME/perl5
      - run:
          name: Set up dirs and files
          command: |
            mkdir -p logs screens
            # these commands are in start.sh of the Perl container too:
            cp doc/conf/ledgersmb.conf.default ledgersmb.conf
            sed -i \
                -e "s/\(cache_templates = \).*\$/cache_templates = 1/g" \
                -e "s/\(host = \).*\$/\1$POSTGRES_HOST/g" \
                -e "s/\(port = \).*\$/\1$POSTGRES_PORT/g" \
                -e "s/\(default_db = \).*\$/\1$DEFAULT_DB/g" \
                -e "s%\(sendmail   = \).*%#\1/usr/sbin/ssmtp%g" \
                -e "s/# \(smtphost = \).*\$/\1mailhog:1025/g" \
                -e "s/# \(backup_email_from = \).*\$/\1lsmb-backups@example.com/g" \
                -e "s/#dojo_built = 1/dojo_built = 0/" \
              ledgersmb.conf
      - run:
          name: Set up host IP & BASE variables
          command: |
                echo "export LSMB_BASE_URL=http://$(hostname -I |awk '{print $1}'):5000" >> $BASH_ENV
                echo "export PSGI_BASE_URL=http://$(hostname -I |awk '{print $1}'):5762" >> $BASH_ENV
                source $BASH_ENV


  start_plackup:
    description: "Start plackup"
    steps:
      - run:
          command: |
            PERL5OPT="$PERL5OPT -MDevel::Cover=-ignore,^/|^utils/|^x?t/|\.lttc$,-blib,0" \
            LSMB_BASE_URL=http://$(hostname -I |awk '{print $1}'):5000 \
            PSGI_BASE_URL=http://$(hostname -I |awk '{print $1}'):5762 \
                    plackup -I$HOME/project/lib -I$HOME/project/old/lib \
                    -s Gazelle --port 5762 --workers=2 --max-reqs-per-child=50000 \
                    $HOME/project/bin/ledgersmb-server.psgi
            echo "Plackup done!"
            touch plackup-done
          background: true

  start_proxy:
    description: "Start the proxy"
    parameters:
      proxy:
        type: string
        default: nginx
    steps:
      - run:
          command: |
            /usr/local/bin/<< parameters.proxy >>.sh
          background: true

# Define executors
executors:
  test:
    parameters:
      perl:
        type: string
        default: latest
      postgres:
        type: string
        default: latest
      browser:
        type: string
        default: chrome
      coverage:
        type: integer
        default: 1
      selenium:
        type: string
        default: selenium/standalone-chrome
    docker:
      - image: ledgersmb/ledgersmb_circleci-perl:<< parameters.perl >>
      - image: ledgersmb/ledgersmb_circleci-postgres:<< parameters.postgres >>
        environment:
          POSTGRES_PASSWORD: test
      - image: << parameters.selenium >>
        environment:
          SE_OPTS: "-port 4422 "
          GRID_DEBUG: "true"
    environment:
      BROWSER: << parameters.browser >>
      COVERAGE: << parameters.coverage >>
      RELEASE_TESTING: 1
      PGHOST: localhost
      PGUSER: postgres
      PGPASSWORD: test
      LSMB_TEST_DB: 1
      LSMB_NEW_DB: lsmbinstalltest
      LSMB_BASE_URL: http://127.0.0.1:5000
      PSGI_BASE_URL: http://127.0.0.1:5762
      HARNESS_RULESFILE: t/testrules.yml

# Define jobs
jobs:
  test_webpack_chrome:
    <<: *defaults
    executor:
      name: test
      perl: '5.30'
      postgres: '11'
      browser: chrome
      selenium: selenium/standalone-chrome:3.141.59
    steps:
      - prep_env:
          perl: '5.30'
      - start_plackup
      - start_proxy
      - prove
  test_webpack_firefox:
    <<: *defaults
    executor:
      name: test
      perl: '5.30'
      postgres: '11'
      browser: firefox
      selenium: selenium/standalone-firefox:3.141.59
    steps:
      - prep_env:
          perl: '5.30'
      - start_plackup
      - start_proxy
      - prove
  test_webpack_phantomjs:
    <<: *defaults
    executor:
      name: test
      perl: '5.30'
      postgres: '11'
      browser: phantomjs
      selenium: ylavoie/standalone-phantomjs:latest
    steps:
      - prep_env:
          perl: '5.30'
      - start_plackup
      - start_proxy
      - prove

# Workflows
# Tests multiple browsers, coverage and dojo
workflows:
  workflow:
    jobs:
      - test_webpack_chrome:
          filters: *job_filters

      - test_webpack_firefox:
          filters: *job_filters

      - test_webpack_phantomjs:
          filters: *job_filters
