version: 2.1

#TODO: To enable matrix, Consider https://github.com/winksaville/circleci-matrix

# Define defaults
_defaults: &defaults
    # Make sure that .profile is sourced for Perlbrew
    shell: /bin/bash --login -eo pipefail

general:
  branches:
    ignore:
      - /1\.2.*/
      - /1\.3.*/
      - /1\.4.*/
      - /1\.5.*/
      - /1\.6.*/

# Define aliases for simplification
aliases:
  - &store_artifacts
    store_artifacts:
      path: /tmp/artifact/

# Reuseable commands
commands:
  prove:
    steps:
      - run:
          command: |
             if [ "x$COVERAGE" == "x1" ]
             then
               export HARNESS_PERL_SWITCHES="$HARNESS_PERL_SWITCHES -MDevel::Cover=-ignore,^/|^utils/|^x?t/|\.lttc$,-blib,0"
             fi
             echo $PERL5OPT
             echo $HARNESS_PERL_SWITCHES
             echo $PWD
             # Coverage explicitly without parallellism to prevent resource contention
             # when Devel::Cover writes coverage database on process-exit
             prove --recurse \
                   --pgtap-option dbname=lsmbinstalltest \
                   --pgtap-option username=postgres \
                   --pgtap-option psql=.circleci/psql-wrap \
                   --feature-option tags=~@wip t/ xt/
      - run:
          command: |
            curl $PSGI_BASE_URL/stop.pl || true
            while [ ! -e plackup-done ];
            do
              echo -n "."
              sleep 1
            done
            echo " done"
      - run:
          command: |
            mkdir -p /tmp/artifact/logs;
            mkdir -p /tmp/artifact/screens;
            cp logs/* /tmp/artifact/logs || true;
            cp screens/* /tmp/artifact/screens || true;
          when: always
      - run:
          name: Upload coverage data
          command: |
            if [ "x$COVERAGE" == "x1" ];
            then
              cover -report coveralls
              cover -report text > /tmp/artifact/coverage.txt
            fi
      - *store_artifacts
  prep_env:
    description: "Prepare environment"
    steps:
      - checkout
      - run:
          name: Pull related Git repositories
          command: |
            git submodule sync
            git submodule update --init
      # Freshen up CPAN
      - run:
          name: Refresh modules from CPAN
          command: |
            cpanm --quiet --notest \
              --with-develop \
              --with-feature=starman \
              --with-feature=latex-pdf-images \
              --with-feature=latex-pdf-ps \
              --with-feature=openoffice \
              --with-feature=xls \
              --with-feature=edi \
              --installdeps .
            cpanm --notest Starlet
            if [ "x$COVERAGE" == "x1" ]
            then
              cpanm --quiet --notest \
                    Devel::Cover \
                    Devel::Cover::Report::Coveralls
            fi
      - run:
          name: Set up dirs and files
          command: |
            mkdir -p logs screens;
            cp doc/conf/ledgersmb.conf.default ledgersmb.conf
  start_plackup:
    description: "Start plackup"
    steps:
      - run:
          command: |
            echo $PWD
            PERL5OPT="$PERL5OPT -MDevel::Cover=-ignore,^/|^utils/|^x?t/|\.lttc$,-blib,0" plackup -I$HOME/project/lib -I$HOME/project/old/lib \
                    -s HTTP::Server::PSGI --port 5762 \
                    $HOME/project/bin/ledgersmb-server.psgi
            echo "Plackup done!"
            touch plackup-done
          background: true
  start_proxy:
    description: "Start the proxy"
    parameters:
      proxy:
        type: string
        default: nginx
    steps:
      - run:
          command: |
            /usr/local/bin/<< parameters.proxy >>.sh
          background: true

# Define executors
executors:
  test:
    parameters:
      perl:
        type: string
        default: latest
      postgres:
        type: string
        default: latest
      browser:
        type: string
        default: chrome
      coverage:
        type: integer
        default: 1
      CIRCLE_PROJECT_USERNAME:
        type: string
        default: ${CIRCLE_PROJECT_USERNAME:-ledgersmb}
    docker:
      - image: << parameters.CIRCLE_PROJECT_USERNAME >>/ledgersmb_circleci-perl:<< parameters.perl >>
      - image: << parameters.CIRCLE_PROJECT_USERNAME >>/ledgersmb_circleci-postgres:<< parameters.postgres >>
      - image: << parameters.CIRCLE_PROJECT_USERNAME >>/ledgersmb_circleci-<< parameters.browser >>
    environment:
      COVERAGE: << parameters.coverage >>
#      DEVEL_COVER_OPTIONS:
      RELEASE_TESTING: 1
      PGHOST: localhost
      PGUSER: postgres
      PGPASSWORD: test
      LSMB_TEST_DB: 1
      LSMB_NEW_DB: lsmbinstalltest
      LSMB_BASE_URL: http://127.0.0.1:5000
      PSGI_BASE_URL: http://127.0.0.1:5762
      HARNESS_RULESFILE: t/testrules.yml

# Define jobs
jobs:
  ci_images:
    <<: *defaults
    docker:
      - image: circleci/node:6.17.1-stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Log into Docker Hub
          command: |
            echo "$DOCKER_HUB_PWD" | docker login -u "$DOCKER_HUB_USER_ID" --password-stdin;
      - run:
          name: Freshen up circleci custom images if the PR altered them
          command: |
            for image in $( git log --name-only --oneline -1 | grep -e '^\.circleci\/images' | cut -d "/" -f3 | sort -u ); do
              pushd .circleci/images/$image;
              ./build.sh;
              popd;
            done
  test_nodojo:
    <<: *defaults
    executor:
      name: test
      perl: "5.28"
      postgres: "11"
      browser: phantomjs
    steps:
      - prep_env
      - start_plackup
      - start_proxy
      - prove

# Workflows
# Tests multiple browsers, coverage and dojo
workflows:
  workflow:
    jobs:
      - ci_images

      - test_nodojo:
          requires:
            - ci_images
