a {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}
a:link {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
	border-bottom: thin dashed;
}
td.amount {
	text-align: right;
}
tr.separator {
        min-height: 1em;
}
tr.sectionhead {
}
tr.sectionhead th {
        padding-top: 2em;
        margin-top: 4em;
        font-size: 120%;
        font-weight: bold;
}

td.total {
        border: 0px;
	border-top: 1px;
        border-color: black;
        border-style: solid;
}

th {
	vertical-align: bottom;	
}

table {
      margin-right: auto;
      margin-left: auto;
}
h1, h2 {
       text-align: center;
}
