<?lsmb INCLUDE "ui-header.html";
 PROCESS "elements.html" ?>
<body class="<?lsmb dojo_theme ?>">
<div class="listtop"><?lsmb template_name ?>.<?lsmb format ?><?lsmb
 IF language_code; "($language_code)"; ELSE; "(" _ text("No language") _ ")";
 END; ?></div>
<form action="template.pl" method="post">
<textarea class="template-body <?lsmb format ?>" 
    cols=80><?lsmb UNESCAPE(content) ?></textarea><br/>
<?lsmb 
PROCESS input element_data = {
    type = 'hidden'
    name = 'template_name'
   value = template_name
};
PROCESS input element_data = {
    type = 'hidden'
    name = 'language_code'
   value = language_code
};
PROCESS input element_data = {
    type = 'hidden'
    name = "format"
   value = format
};
PROCESS button element_data = {
    type = 'submit'
    name = 'action'
   value = 'save'
    text = text('Save')
}; ?>
</body>
</html>
