<?lsmb INCLUDE "ui-header.html";
 PROCESS "elements.html" ?>
<body class="lsmb <?lsmb dojo_theme ?>">
<div class="listtop"><?lsmb template.template_name ?>.<?lsmb template.format ?><?lsmb
 IF language_code; "($language_code)"; ELSE; "(" _ text("No language") _ ")";
 END; ?></div>
<form data-dojo-type="lsmb/lib/Form" action="<?lsmb request.script ?>" method="post">
  <?lsmb PROCESS textarea element_data = {
			class="template-body " _ template.format _ " editor" 
			cols="80"
			name="template"
			rows="30" 
		 text=UNESCAPE(content) } ?>
  <br/>
<?lsmb 
PROCESS input element_data = {
    type = 'hidden'
    name = 'template_name'
   value = template.template_name
};
PROCESS input element_data = {
    type = 'hidden'
    name = "format"
   value = template.format
};
PROCESS select element_data = {
           name = 'language_code'
        options = template.languages
  default_blank = 1
 default_values = [template.language_code]
      text_attr = 'description'
     value_attr = 'code'
};
PROCESS button element_data = {
    type = 'submit'
    name = 'action'
   value = 'save'
    text = text('Save')
}; 
PROCESS button element_data = {
    type = 'submit'
    name = 'action'
   value = 'get'
    text = text('Retrieve')
} ?>
</body>
</html>
