label {
	text-align: right;
	margin-left: auto;
	margin-right: 0em;
}

input { margin-left: 0em;
	margin-right: auto;
}

ul.navigation li {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0em;
}

div.note_contents {
	white-space:pre
}

.addl-address {
	position: relative;
	left: 12ex;
}

div label {
	margin-left: 1em;
}

/* This shouldnot go in SVN trunk */
#company_div .note_contents {
	display: none;
}

table {
	width: 100%;
}

#credit-row { 
	display: none;
}

#discount-gifi-row {
	display: none;
}

#line-two {
	display: none;
}

#line-three {
	display: none;
}

