label {
	text-align: right;
	margin-left: auto;
        margin-right: 1em
}

input { margin-left: 0em;
	margin-right: auto;
}

ul.navigation li {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0em;
}

div.note_contents {
	white-space:pre
}


div label {
	float: left;
	display: block;
	text-align: right;
	margin-left: 1em;
}

div.container_hidden {
	display: none;
}
div.container {
	display: block;
}

div {
        overflow: auto;
}

div.input_group {
        display: block;
        float: left;
}
div.input_group1 {
        display: block;
        float: left;
}
div.input_group2 {
        display: block;
        float: left;
}
div.input_group3 {
        display: block;
        float: left;
}

#hr_div div.input_group {
        width: 28em;
}

#hr_div label {
        width: 9em;
}

#company_div div.input_group1 {
        width: 25em;
}

#company_div div.input_group2 {
        width: 28em;
}

#company_div label {
	width: 8em;
}

#company_div div.input_group2 label {
	width: 6em;
}

#credit_div label {
	width: 9em;
}

#location_div label {
	width: 6em;
}

#contact_div label {
	width: 6em;
}

#bank_div label {
	width: 9em;
}

#notes_div label {
	width: 6em;
}


