label {
	text-align: right;
	margin-left: auto;
	margin-right: 0em;
}

input { margin-left: 0em;
	margin-right: auto;
}

ul.navigation li {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0em;
}
