label {
	text-align: right;
	margin-left: auto;
        margin-right: 1em
}

input { margin-left: 0em;
	margin-right: auto;
}

ul.navigation li {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0em;
}

div.note_contents {
	white-space:pre
}

.addl-address {
	position: relative;
	left: 12ex;
}

div label {
	margin-left: 1em;
}

div.container_hidden {
	display: none;
}
div.container {
	display: block;
}

div {
        overflow: auto;
}

div.input_group {
        display: block;
        float: left;
}
div.input_group1 {
        display: block;
        float: left;
}
div.input_group2 {
        display: block;
        float: left;
}
div.input_group3 {
        display: block;
        float: left;
}

#hr_div div.input_group {
        width: 28em;
}

#hr_div label {
        float: left;
        display: block;
        width: 9em;
        text-align: right;
}

#company_div div.input_group1 {
        width: 25em;
}

#company_div div.input_group2 {
        width: 28em;
}

#company_div label {
	float: left;
	display: block;
	width: 8em;
	text-align: right;
}

#company_div div.input_group2 label {
	width: 6em;
}

