table.detail_table_visible {
	display: block;
}
table.detail_table_hidden{
	display: none;
}

div.selectall {
       float: left;
}

div {
	overflow: auto;
}

label {
	text-align: right;
        float: left;
	width: 8em;
	margin-right: 1em;
}

input {
	float: left;
}

input[type="checkbox"], input[type="radio"]{
	float: none;
}

.details_select input[type="radio"] {
        float: left;
}
select {
	float: left;
}
