<?lsmb INCLUDE 'ui-header.html';

max_path_depth = 0;
FOREACH row IN report.sorted_row_ids ;
   IF max_path_depth < report.rheads.ids.$row.path.size ;
     max_path_depth = report.rheads.ids.$row.path.size;
   END;
END;
IF report.legacy_hierarchy ;
   hierarchy = 'flat-hierarchy';
ELSE ;
   hierarchy = 'full-hierarchy';
END ;
 ?>
<body class="financial-statement <?lsmb dojo_theme ?> <?lsmb hierarchy ?>">
<div id="PNL" class="financial-statement <?lsmb hierarchy ?> balance-sheet">  <!-- TODO: Find better name!! -->
<h1><?lsmb text('Balance Sheet') | html ?></h1>

<div class="company-name"><?lsmb company_name | html ?></div>
<div class="company-address"><?lsmb company_address | html ?></div>

<table class="balancesheet" style="border-collapse: collapse">
<colgroup class="headings">
<?lsmb i = 1;
   WHILE i <= max_path_depth;
     '  <col class="level' _ i _ '" />';
     i = i + 1;
   END;
?>
</colgroup>
<colgroup class="values">
<?lsmb i = 1;
   WHILE i <= report.cheads.ids.keys.size;
     '  <col class="values' _ i _ '" />';
     i = i + 1;
   END;
?>
</colgroup>
  <tbody>
    <tr class="report-head">
      <th colspan="<?lsmb max_path_depth ?>"> </th>
      <?lsmb FOREACH col IN report.sorted_col_ids -?>
      <th><?lsmb report.cheads.ids.$col.props.description | html ?></th>
      <?lsmb END -?>
    </tr>
<?lsmb FOREACH row IN report.sorted_row_ids ;
   path_depth = report.rheads.ids.$row.path.size;
   path_prefix_len = path_depth - 1;
   path_suffix_len = max_path_depth - path_prefix_len;
   IF report.rheads.ids.$row.props.account_type == 'H' ;
     class = 'class="heading' _ path_depth _ ' ' _ report.rheads.ids.$row.props.account_type _ '"';
     clazz = "heading" _ path_depth _ ' ' _ report.rheads.ids.$row.props.account_type;
   ELSIF report.rheads.ids.$row.props.section_for ;
     row_id = report.rheads.ids.$row.props.section_for ;
     class = 'class="section' _ path_depth _ ' ' _ report.rheads.ids.$row_id.props.account_category _ '"';
     clazz = "section" _ path_depth _ ' ' _ report.rheads.ids.$row_id.props.account_category;
   ELSE;
     class = 'class="account"';
     clazz = 'account';
   END;
 ?>
<tr <?lsmb class; IF report.rheads.ids.$row.props.account_number;
                     ' data-lsmb-account="';
                     report.rheads.ids.$row.props.account_number;
                     '"';
                  END ?>>
  <?lsmb IF path_prefix_len > 0 ?>
  <th colspan="<?lsmb path_prefix_len ?>" class="indent"></th>
  <?lsmb END ?>
  <th colspan="<?lsmb path_suffix_len ?>" <?lsmb class ?>>
<?lsmb IF report.rheads.ids.$row.props.section_for ;
  head_id = report.rheads.ids.$row.props.section_for;
  report.rheads.ids.$head_id.props.account_description; | html ?>
</th><th colspan="<?lsmb report.cheads.ids.keys.size ?>" <?lsmb class ?>>
<?lsmb ELSE -?>
<?lsmb IF report.rheads.ids.$row.props.account_number && report.incl_accnos; -?>
<?lsmb report.rheads.ids.$row.props.account_number | html ?>&nbsp;-&nbsp;<?lsmb END; -?>
<?lsmb report.rheads.ids.$row.props.account_desc | html ?></th>
<?lsmb FOREACH col IN report.sorted_col_ids -?>
  <td class="amount <?lsmb clazz ?>"
      ><?lsmb report.cells.$row.$col | html ?></td><?lsmb END ?>
<?lsmb END ?>
</tr>
<?lsmb END ?>

<!--
<h2><?lsmb text('Key Ratios'); | html ?></h2>
<h2><?lsmb text('First column only') | html ?></h2>
<table>
<tr><th><?lsmb text('Assets to Liabilities') | html ?></th>
    <td><?lsmb report.balance_sheet.ratios.AL | html ?></td>
</tr>
<tr><th><?lsmb text('Assets to Equity') | html ?></th>
    <td><?lsmb report.balance_sheet.ratios.AQ | html ?></td>
</tr>
<tr><th><?lsmb text('Equity to Liabilities') | html ?></th>
    <td><?lsmb report.balance_sheet.ratios.QL | html ?></td>
</tr>
-->
</tbody>
</table>

</div>

</body>
</html>
