
<body bgcolor=ffffff>

<table width="100%">
  <tr>
    <td width=10>&nbsp;</td>
    
    <td>
      <table width="100%">
	<tr>
	  <td>
	  <h4>
	  <?lsmb company ?>
	  <br><?lsmb address ?>
	  </h4>
	  </td>

	  <th></th>

	  <td align=right>
	  <h4>
	  Тел: <?lsmb tel ?>
	  <br>Факс: <?lsmb fax ?>
	  </h4>
	  </td>
	</tr>

	<tr>
	  <th colspan=3>
	    <h4>СПИСОК &nbsp;&nbsp;ДЛЯ&nbsp;&nbsp;ВЫБОРА</h4>
	  </th>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% cellspacing=0 cellpadding=0>
        <tr bgcolor=000000>
	  <th width=50% align=left><font color=ffffff>Ship To:</th>
	  <th width="50%">&nbsp;</th>
	</tr>

	<tr valign=top>
	  <td><?lsmb shiptoname ?>
	  <br><?lsmb shiptoaddress1 ?>
	  <?lsmb if shiptoaddress2 ?>
	  <br><?lsmb shiptoaddress2 ?>
	  <?lsmb end shiptoaddress2 ?>
	  <br><?lsmb shiptocity ?> <?lsmb shiptostate ?> <?lsmb shiptozipcode ?>
	  <?lsmb if shiptocountry ?>
	  <br><?lsmb shiptocountry ?>
	  <?lsmb end shiptocountry ?>
	  </td>

	  <td>
	  <?lsmb if shiptocontact ?>
	  <br>Сонтакт: <?lsmb shiptocontact ?>
	  <?lsmb end shiptocontact ?>

	  <?lsmb if shiptophone ?>
	  <br>Тел: <?lsmb shiptophone ?>
	  <?lsmb end shiptophone ?>

	  <?lsmb if shiptofax ?>
	  <br>Факс: <?lsmb shiptofax ?>
	  <?lsmb end shiptofax ?>

	  <?lsmb shiptoemail ?>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% border=1>
        <tr>
	  <th width=15% align=left>Счет No</th>
	  <th width=15% align=left>Заказ No</th>
	  <th width=10% align=left>Дата доставки</th>
	  <th width=10% align=left>Дата проводки</th>
	  <th width=15% align=left nowrap>Контакт</th>
	  <th width=15% align=left>Склад</th>
	  <th width=10% align=left>Доставка в</th>
	  <th width=10% align=left>Доставка через</th>
	</tr>

        <tr>
	  <td><?lsmb invnumber ?>&nbsp;</td>
	  <td><?lsmb ordnumber ?>&nbsp;</td>
          <?lsmb if shippingdate ?>
	  <td><?lsmb shippingdate ?></td>
          <?lsmb end shippingdate ?>

	  <?lsmb if not shippingdate ?>
	  <td><?lsmb transdate ?></td>
	  <?lsmb end shippingdate ?>

	  <td><?lsmb employee ?>&nbsp;</td>
	  <td><?lsmb warehouse ?>&nbsp;</td>
	  <td><?lsmb shippingpoint ?>&nbsp;</td>
	  <td><?lsmb shipvia ?>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    
    <td>
      <table width="100%">
	<tr bgcolor=000000>
	  <th align=left><font color=ffffff>Поз.</th>
	  <th align=left><font color=ffffff>Код</th>
	  <th align=left><font color=ffffff>Описание</th>
	  <th><font color=ffffff>К-во</th>
	  <th><font color=ffffff>Доставка</th>
	  <th><font color=ffffff>Ед. изм.</th>
	  <th><font color=ffffff>"Bin"</th>
	</tr>

        <?lsmb foreach number ?>
	<tr valign=top>
	  <td><?lsmb runningnumber ?>
	  <td><?lsmb number ?></td>
	  <td><?lsmb description ?></td>
	  <td align=right><?lsmb qty ?></td>
	  <td align=right>[&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</td>
	  <td><?lsmb unit ?></td>
	  <td align=right><?lsmb bin ?></td>
	</tr>
	<?lsmb end number ?>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td><hr noshade></td>
  </tr>

</table>
