
<body bgcolor=ffffff>

<table width="100%">
<tr valign=bottom>
  <td width=10>&nbsp;</td>
  <td>
  
  <table width="100%">
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <td><img src=http://www.ledger-smb.org/images/ledger-smb.png border=0 width=64 height=58>
    </td>

    <td align=right>
      <h4>
      電話： <?lsmb tel ?>
      <br>傳真： <?lsmb fax ?>
      </h4>
    </td>
  </tr>

  <tr>
    <th colspan=3>
      <h4>要求報價單</h4>
    </th>
  </tr>

  </table>


  <table width=100% callspacing=0 cellpadding=0>
    
  <tr>
    <td>
    <table width="100%">
    <tr bgcolor=000000>
      <th align=left width="50%"><font color=ffffff>致：</th>
      <th align=left width="50%"><font color=ffffff>付運往：</th>
    </tr>

    <tr valign=top>
      <td><?lsmb name ?>
      <br><?lsmb address1 ?>
      <?lsmb if address2 ?>
      <br><?lsmb address2 ?>
      <?lsmb end address2 ?>
      <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
      <?lsmb if country ?>
      <br><?lsmb country ?>
      <?lsmb end country ?>
<br>
<?lsmb if contact ?>
<br>致：<?lsmb contact ?>
<?lsmb end contact ?>
<?lsmb if vendorphone ?>
<br>電話： <?lsmb vendorphone ?>
<?lsmb end vendorphone ?>
<?lsmb if vendorfax ?>
<br>傳真： <?lsmb vendorfax ?>
<?lsmb end vendorfax ?>
      </td>

      <td><?lsmb shiptoname ?>
      <br><?lsmb shiptoaddress1 ?>
      <?lsmb if shiptoaddress2 ?>
      <br><?lsmb shiptoaddr2 ?>
      <?lsmb end shiptoaddress2 ?>
      <br><?lsmb shiptocity ?> <?lsmb shiptostate ?> <?lsmb shiptozipcode ?>
      <?lsmb if shiptocountry ?>
      <br><?lsmb shiptocountry ?>
      <?lsmb end shiptocountry ?>
<br>
<?lsmb if shiptocontact ?>
<br>致： <?lsmb shiptocontact ?>
<?lsmb end shiptocontact ?>
<?lsmb if shiptophone ?>
<br>電話： <?lsmb shiptophone ?>
<?lsmb end shiptophone ?>
<?lsmb if shiptofax ?>
<br>傳真： <?lsmb shiptofax ?>
<?lsmb end shiptofax ?>
    </tr>
    </table>
    </td>
  </tr>

  <tr><td>&nbsp;</td></tr>
  
  <tr>
    <td colspan=2>
    <table width=100% border=1>
    <tr>
      <th width=17% align=left>要求報價單編號</th>
      <th width=17% align=left>日期</th>
      <th width=17% align=left>要求交付日期</th>
      <th width=17% align=left>聯絡人</th>
      <th width=17% align=left>付運點</th>
      <th width=15% align=left>付運公司</th>
    </tr>

    <tr>
      <td><?lsmb quonumber ?></td>
      <td><?lsmb quodate ?></td>
      <td><?lsmb reqdate ?></td>
      <td><?lsmb employee ?></td>
      <td><?lsmb shippingpoint ?>&nbsp;</td>
      <td><?lsmb shipvia ?>&nbsp;</td>
    </tr>
    </table>
    </td>
  </tr>

  <tr height="10"></tr>
  
  <tr>
    <td>請提供以下物品的價格和交付時間：</td>
  </tr>

  <tr height="10"></tr>

  <tr>
    <td>
    <table width="100%">
    <tr>
<!--      <th align=right>No.</th>  -->
      <th align=left>號碼</th>
      <th align=left><font color=ffffff>描述</th>
      <th>數量</th>
      <th>&nbsp;</th>
      <th>交付</th>
      <th>單價</th>
      <th>總價</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
<!--      <td align=right><?lsmb runningnumber ?>.</td>
other per line item variables available <?lsmb reqdate ?>
adjust the colspan if you include this to shift subtotal one to the right
-->
      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>

    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=7><hr noshade></td>
    </tr>
    
    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width="100%">
<?lsmb if notes ?>
    <tr valign=top>
      <td>備註</td>
      <td><?lsmb notes ?></td>
    </tr>
<?lsmb end notes ?>

  </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>
  
<tr>
  <td>
  <table width="100%">
  <tr valign=top>
    <td width="70%">&nbsp;</td>

    <td width="30%">
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>

</body>
</html>

