<body bgcolor=ffffff>

<table width=100%>
<tr>
  <td width=10>
  </td> 
  <td>
  
  <table width=100%>
  <tr>
    <td>
      <h4>
      <%company%>
      <br><%address%>
      </h4>
    </td>

    <th colspan=2>
      <h4 align=center>F Ø L G E S E D D E L</h4>
    </th>
  </tr>

  </table>


  <table width=100% callspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
    <tr>
      <th align=right>Dato</th><td width=10> </td><td><%invdate%></td>
    </tr>
  
    <tr>
      <th align=right>Nummer</th><td></td><td><%invnumber%></td></tr>
    </tr>
  
    <tr>
      <td> 
      </td>
    </tr>
    </td>
    </table>
  </tr>

  <tr>
    <td>
    <table width=100%>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Leveringsadresse:</th>
    </tr>

    <tr>
      <td><%shiptoname%>
      <br><%shiptoaddr1%>
      <br><%shiptoaddr2%>
      <br><%shiptoaddr3%>
      <br><%shiptoaddr4%>
<%if shiptocontact%>
      <p>Att.: <%shiptocontact%>
<%end shiptocontact%>

      </td>
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td> 
    </td>
  </tr>
  
  <tr>
    <td>
    <table width=100%>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Varenummer</th>
      <th align=left><font color=ffffff>Beskrivelse</th>
      <th><font color=ffffff>Antal</th>
      <th>&nbsp;</th>
    </tr>

<%foreach number%>
    <tr valign=top>
      <td><%number%></td>
      <td><%description%></td>
      <td align=right><%qty%></td>
      <td><%unit%></td>
    </tr>
<%end number%>

    <tr>
      <td colspan=4><hr noshade></td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width=100%>
    <tr valign=top>
<%if notes%>
      <td>Bemærkninger</td>
      <td><pre><%notes%></pre></td>
<%end notes%>
      <td align=right>
      <%shippingpoint%>
      </td>
    </tr>

  </table>
  </td>
</tr>

<tr>
  <td>
  <table width=100%>
  <tr valign=top>
    <td><font size=-3>
    Returnerede varer modregnes 10% i ekspeditionsgebyr.
    Et returnummer skal tildeles af <%company%> før varer returneres.
    Returvarer skal forsendes forudbetalt og forsvarligt forsikret.
    <%company%> kan ikke drages til ansvar for skade under transport.
    </font>
    </td>
    <td width=150>
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>

</body>
</html>
