<head>
  <title>Hoja de Balance</title>
</head>

<body bgcolor=ffffff>

<h2 align=center>
<%company%>
<br><%address%>

<p>HOJA DE BALANCE
<br><%period%>
</h2>

<table border=0>
<tr>
  <th align=left width=400 colspan=2>ACTIVOS<br><hr align=left width=250 size=5 noshade></th>
  <th><%this_period%></th>
  <th><%last_period%></th>
</tr>

<%foreach asset_account%>
<tr>
  <td>&nbsp;</td>
  <td><%asset_account%></td>
  <td align=right><%asset_this_period%></td>
  <td align=right><%asset_last_period%></td>
</tr>
<%end asset_account%>

<tr>
  <td colspan=2> </td>
  <td><hr noshade size=1></td>
  <td><hr noshade size=1></td>
</tr>

<tr valign=top>
  <th align=left colspan=2>Total de activos</th>
  <td align=right><%total_assets_this_period%><hr noshade size=2></td>
  <td align=right><%total_assets_last_period%><hr noshade size=2></td>
</tr>

<tr>
  <th align=left colspan=4>PASIVOS<b><hr align=left width=250 size=5 noshade></th>
</tr>

<%foreach liability_account%>
<tr>
  <td></td>
  <td><%liability_account%></td>
  <td align=right><%liability_this_period%></td>
  <td align=right><%liability_last_period%></td>
</tr>
<%end liability_account%>

<tr>
  <td colspan=2> </td>
  <td><hr noshade size=1></td>
  <td><hr noshade size=1></td>
</tr>

<tr valign=top>
  <td></td>
  <th align=left>Total de pasivos</th>
  <td align=right><%total_liabilities_this_period%><br><hr noshade size=2</td>
  <td align=right><%total_liabilities_last_period%><br><hr noshade size=2</td>
</tr>

<tr>
  <th align=left colspan=4>CAPITAL<br><hr align=left width=250 size=5 noshade></th>
</tr>

<%foreach equity_account%>
<tr>
  <td></td>
  <td><%equity_account%></td>
  <td align=right><%equity_this_period%></td>
  <td align=right><%equity_last_period%></td>
</tr>
<%end equity_account%>

<tr>
  <td colspan=2> </td>
  <td><hr noshade size=1></td>
  <td><hr noshade size=1></td>
</tr>

<tr valign=top>
  <td></td>
  <th align=left>Capital total</th>
  <td align=right><%total_equity_this_period%><br><hr noshade size=2</td>
  <td align=right><%total_equity_last_period%><br><hr noshade size=2</td>
</tr>

<tr valign=top>
  <th align=left colspan=2>Total de pasivos y capital</th>
  <td align=right><%total_this_period%><br><hr noshade size=2></td>
  <td align=right><%total_last_period%><br><hr noshade size=2></td>
</tr>
</table>
