
<body bgcolor=ffffff>

<table width=100 ?>
  <tr>
    <td width=10>&nbsp;</td>
    
    <td>
      <table width=100 ?>
	<tr valign=bottom>
	  <td>
	    <h4>
	    <?lsmb company ?>
	    <br><?lsmb address ?>
	    </h4>
	  </td>

	  <th><img src=http://www.ledger-smb.org/images/ledger-smb.png border=0 width=80 height=58></th>

	  <td align=right>
	    <h4>
	    Tel: <?lsmb tel ?>
	    <br>Fax: <?lsmb fax ?>
	    </h4>
	  </td>
	</tr>

	<tr>
	  <th colspan=3>
	    <h4>O R D E M &nbsp;&nbsp; D E &nbsp;&nbsp; S E R V I Ç O</h4>
	  </th>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
	<tr bgcolor=000000>
	  <th align=left width=50 ?><font color=ffffff>Para</th>
	  <th align=left width=50 ?><font color=ffffff>Enviar para</th>
	</tr>

	<tr valign=top>
	  <td><?lsmb name ?>
	  <br><?lsmb address1 ?>
	  <?lsmb if address2 ?>
	  <br><?lsmb address2 ?>
	  <?lsmb end address2 ?>
	  <br><?lsmb city ?> <?lsmb state ?>
          <br><?lsmb zipcode ?>
	  <?lsmb if country ?>
	  <br><?lsmb country ?>
	  <?lsmb end country ?>
          <br>
	  <?lsmb if contact ?>
	  <br>A/C: <?lsmb contact ?>
	  <?lsmb end contact ?>
	  <?lsmb if customerphone ?>
	  <br>Tel: <?lsmb customerphone ?>
	  <?lsmb end customerphone ?>
	  <?lsmb if customerfax ?>
	  <br>Fax: <?lsmb customerfax ?>
	  <?lsmb end customerfax ?>
	  <?lsmb if email ?>
	  <br><?lsmb email ?>
	  <?lsmb end email ?>
	  </td>

	  <td><?lsmb shiptoname ?>
	  <br><?lsmb shiptoaddress1 ?>
	  <?lsmb if shiptoaddress2 ?>
	  <br><?lsmb shiptoaddress2 ?>
	  <?lsmb end shiptoaddress2 ?>
	  <br><?lsmb shiptocity ?> <?lsmb shiptostate ?>
          <br><?lsmb shiptozipcode ?>
	  <?lsmb if shiptocountry ?>
	  <br><?lsmb shiptocountry ?>
	  <?lsmb end shiptocountry ?>
	  <br>
          <?lsmb if shiptocontact ?>
          <br><?lsmb shiptocontact ?>
          <?lsmb end shiptocontact ?>
	  <?lsmb if shiptophone ?>
	  <br>Tel: <?lsmb shiptophone ?>
	  <?lsmb end shiptophone ?>
	  <?lsmb if shiptofax ?>
	  <br>Fax: <?lsmb shiptofax ?>
	  <?lsmb end shiptofax ?>
	  <?lsmb if shiptoemail ?>
	  <br><?lsmb shiptoemail ?>
	  <?lsmb end shiptoemail ?>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
    
    <td>
      <table width=100% border=1>
	<tr>
	  <th width=17% align=left nowrap>Número do pedido</th>
	  <th width=17% align=left>Data</th>
	  <th width=17% align=left>Requerido para</th>
	  <th width=17% align=left nowrap>Vendedor</th>
	  <th width=17% align=left nowrap>Lcoal do despacho</th>
	  <th width=15% align=left nowrapEnviar por</th>
	</tr>

	<tr>
	  <td><?lsmb ordnumber ?></td>
	  <td><?lsmb orddate ?></td>
	  <td><?lsmb reqdate ?></td>
	  <td><?lsmb employee ?></td>
	  <td><?lsmb shippingpoint ?>&nbsp;</td>
	  <td><?lsmb shipvia ?>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
 
    <td>
      <table width=100 ?>
	<tr bgcolor=000000>
	  <th align=right><font color=ffffff>No.</th>
	  <th align=left><font color=ffffff>Númeno</th>
	  <th align=left><font color=ffffff>Descrição</th>
	  <th><font color=ffffff>Qtd</th>
	  <th>&nbsp;</th>
           <th><font color=ffffff>Local</th>
	  <th><font color=ffffff>Nº de série</th>
	</tr>

	<?lsmb foreach number ?>
	<tr valign=top>
          <td align=right><?lsmb runningnumber ?>.</td>
	  <td><?lsmb number ?></td>
	  <td><?lsmb description ?></td>
	  <td align=right><?lsmb qty ?></td>
	  <td><?lsmb unit ?></td>
           <td><?lsmb bin ?></td>
	  <td><?lsmb serialnumber ?></td>
	</tr>
	<?lsmb end number ?>

	<tr>
	  <td colspan=7><hr noshade></td>
	</tr>

      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <?lsmb if notes ?>
    <td><?lsmb notes ?></td>
    <?lsmb end notes ?>
  </tr>
</table>

</body>
</html>


