
<body bgcolor=ffffff>

<table width="100%">
<tr>
  <td width=10>
  </td> 
  <td>
  
  <table width="100%">
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <th colspan=2>
      <h4 align=center>P A K B O N</h4>
    </th>
  </tr>

  </table>


  <table width=100% cellspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
    <tr>
      <th align=right>Factuurdatum</th><td width=10> </td><td><?lsmb invdate ?></td>
    </tr>
  
    <tr>
      <th align=right>Factuurnummer</th><td></td><td><?lsmb invnumber ?></td></tr>
    </tr>
  
    <tr>
      <td> 
      </td>
    </tr>
    </td>
    </table>
  </tr>

  <tr>
    <td>
    <table width="100%">
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Verzendadres:</th>
    </tr>

    <tr>
      <td><?lsmb shiptoname ?>
      <br><?lsmb shiptoaddr1 ?>
      <br><?lsmb shiptoaddr2 ?>
      <br><?lsmb shiptoaddr3 ?>
      </td>
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td> 
    </td>
  </tr>
  
  <tr>
    <td>
    <table width="100%">
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Artikelnummer</th>
      <th align=left><font color=ffffff>Omschrijving</th>
      <th><font color=ffffff>Aantal</th>
      <th>&nbsp;</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>
    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=4><hr noshade></td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width="100%">
    <tr valign=top>
<?lsmb if notes ?>
      <td>Opmerkingen</td>
      <td><pre><?lsmb notes ?></pre></td>
<?lsmb end notes ?>
      <td align=right>
      <?lsmb shippingpoint ?>
      </td>
    </tr>

  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>


