  <tr>
    <td width=10>&nbsp;</td>

    <td>
      <table width=100 ?>
        <tr>
          <td>
            <h4>
            <?lsmb company ?><br>
            <?lsmb address ?>
            </h4>
          </td>

          <th><img src=../<?lsmb templates ?>/logo.png border=0 width=84 height=58></th>

          <td align=right>
            <h4>
            Tel: <?lsmb tel ?><br>
            Fax: <?lsmb fax ?>
            </h4>
          </td>
        </tr>

        <tr>
          <td colspan=3>
	    <hr noshade>
          </td>
        </tr>
      </table>
    </td>
  </tr>

