  <tr>
    <td width=10>&nbsp;</td>

    <td>
      <table width=100%>
        <tr>
          <td>
            <h4>
            <%company%><br>
            <%address%>
            </h4>
          </td>

          <th><img src=../<%templates%>/logo.png border=0 width=84 height=58></th>

          <td align=right>
            <h4>
            Tel: <%tel%><br>
            Fax: <%fax%>
            </h4>
          </td>
        </tr>

        <tr>
          <td colspan=3>
	    <hr noshade>
          </td>
        </tr>
      </table>
    </td>
  </tr>

