
<body bgcolor=ffffff>

<table width=100%>

  <%include letterhead.html%>

  <tr>
    <td width=10>&nbsp;</td>
    
    <th colspan=3>
      <h4>V E O S E &nbsp;&nbsp; S A A T E L E H T</h4>
    </th>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
        <tr bgcolor=000000>
	  <th width=50% align=left><font color=ffffff>Kellele:</th>
	  <th width=50%>&nbsp;</th>
	</tr>

	<tr valign=top>
	  <td><%shiptoname%>
	  <br><%shiptoaddress1%>
	  <%if shiptoaddress2%>
	  <br><%shiptoaddress2%>
	  <%end shiptoaddress2%>
	  <br><%shiptocity%>
	  <%if shiptostate%>
	  , <%shiptostate%>
	  <%end shiptostate%>
	  <%shiptozipcode%>
	  <%if shiptocountry%>
	  <br><%shiptocountry%>
	  <%end shiptocountry%>
	  </td>

	  <td>
	  <%if shiptocontact%>
	  <br>Kontaktisik: <%shiptocontact%>
	  <%end shiptocontact%>

	  <%if shiptophone%>
	  <br>Tel: <%shiptophone%>
	  <%end shiptophone%>

	  <%if shiptofax%>
	  <br>Faks: <%shiptofax%>
	  <%end shiptofax%>

	  <%shiptoemail%>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% border=1>
        <tr>
	  <th width=15% align=left>Arve #</th>
	  <th width=15% align=left>Tellimus #</th>
	  <th width=10% align=left>KuupÃ€ev</th>
	  <th width=15% align=left nowrap>Kontakt</th>
	  <th width=15% align=left>Kaubaladu</th>
	  <th width=10% align=left>Tarneaadress</th>
	  <th width=10% align=left>Tarneviis</th>
	</tr>

        <tr>
	  <td><%invnumber%>&nbsp;</td>
	  <td><%ordnumber%>&nbsp;</td>
          <%if shippingdate%>
	  <td><%shippingdate%></td>
          <%end shippingdate%>

	  <%if not shippingdate%>
	  <td><%transdate%></td>
	  <%end shippingdate%>

	  <td><%employee%>&nbsp;</td>
	  <td><%warehouse%>&nbsp;</td>
	  <td><%shippingpoint%>&nbsp;</td>
	  <td><%shipvia%>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    
    <td>
      <table width=100%>
	<tr bgcolor=000000>
	  <th align=left><font color=ffffff>AR.</th>
	  <th align=left><font color=ffffff>Number</th>
	  <th align=left><font color=ffffff>Kirjeldus</th>
	  <th><font color=ffffff>Kogus</th>
	  <th><font color=ffffff>Saatmine</th>
	  <th>&nbsp;</th>
	  <th><font color=ffffff>Pakend</th>
	</tr>

        <%foreach number%>
	<tr valign=top>
	  <td><%runningnumber%>
	  <td><%number%></td>
	  <td><%description%></td>
	  <td align=right><%qty%></td>
	  <td align=right>[&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</td>
	  <td><%unit%></td>
	  <td align=right><%bin%></td>
	</tr>
	<%end number%>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td><hr noshade></td>
  </tr>

</table>

</body>
</html>











