CTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional">

<html>

<head>

<title>A2A <%invnumber%> <%name%></title>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-15">

</head>

<body bgcolor=ffffff>

<table width=100%>
<tr>
  <td width=10>
  </td> 
  <td>
  
  <table width=100%>
  <tr>
    <td>
      <h4>
      <%company%>
      <br><%address%>
      </h4>
    </td>

    <th colspan=2>
      <h4 align=center>L I S T E&nbsp;&nbsp;D ' E N V O I</h4>
    </th>
  </tr>

  </table>


  <table width=100% callspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
    <tr>
      <th align=right>Date de facture&nbsp;:</th><td width=10> </td><td><%invdate%></td>
    </tr>
  
    <tr>
      <th align=right>Numéro de facture&nbsp;:</th><td></td><td><%invnumber%></td></tr>
    </tr>
  
    <tr>
      <td> 
      </td>
    </tr>
    </td>
    </table>
  </tr>

  <tr>
    <td>
    <table width=100%>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Adresse d'envoi</th>
    </tr>

    <tr>
      <td><%shiptoname%>
      <br><%shiptoaddr1%>
      <br><%shiptoaddr2%>
      <br><%shiptoaddr3%>
      </td>
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td> 
    </td>
  </tr>
  
  <tr>
    <td>
    <table width=100%>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>N°</th>
      <th align=left><font color=ffffff>Description</th>
      <th><font color=ffffff>Qté</th>
      <th>&nbsp;</th>
    </tr>

<%foreach number%>
    <tr valign=top>
      <td><%number%></td>
      <td><%description%></td>
      <td align=center><%qty%></td>
      <td><%unit%></td>
    </tr>
<%end number%>

    <tr>
      <td colspan=4><hr noshade></td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width=100%>
    <tr valign=top>
<%if notes%>
      <td>À noter&nbsp;:</td>
      <td><pre><%notes%></pre></td>
<%end notes%>
      <td align=right><b>EXPÉDIÉ PAR&nbsp;: 
      <%shippingpoint%></b>
      </td>
    </tr>

  </table>
  </td>
</tr>

<tr>
  <td>
  <table width=100%>
  <tr valign=top>
    <td><font size=-3><!--
    Conditions d'envoi :
    Items returned are subject to
    a 10% restocking charge. A return authorization must be obtained
    from <%company%> before goods are returned. Returns must be shipped
    prepaid and properly insured. <%company%> will not be responsible
    for damages during transit. -->
    </font>
    </td>
    <td width=150>
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>
</body>
</html>
