
<body bgcolor=ffffff>

<table width=100 ?>
<tr>
  <td width=10>
  </td> 
  <td>
  
  <table width=100 ?>
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <th colspan=2>
      <h4 align=center>L I S T A &nbsp;&nbsp; E T I C H E T T E</h4>
    </th>
  </tr>

  </table>


  <table width=100% callspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
    <tr>
      <th align=right>Data</th><td width=10> </td><td><?lsmb invdate ?></td>
    </tr>
  
    <tr>
      <th align=right>Numero</th><td></td><td><?lsmb invnumber ?></td></tr>
    </tr>
  
    <tr>
      <td> 
      </td>
    </tr>
    </td>
    </table>
  </tr>

  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Inviare a:</th>
    </tr>

    <tr>
      <td><?lsmb shiptoname ?>
      <br><?lsmb shiptoaddr1 ?>
      <br><?lsmb shiptoaddr2 ?>
      <br><?lsmb shiptoaddr3 ?>
      </td>
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td> 
    </td>
  </tr>
  
  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Numero</th>
      <th align=left><font color=ffffff>Descrizione</th>
      <th><font color=ffffff>Quantit&agrave;</th>
      <th>&nbsp;</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>
    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=4><hr noshade></td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width=100 ?>
    <tr valign=top>
      <td>Note</td>
      <td><?lsmb notes ?></td>
      <td align=right>
      <?lsmb shippingpoint ?>
      </td>
    </tr>

  </table>
  </td>
</tr>

<tr>
  <td>
  </td>
</tr>

</table>

</td>
</tr>
</table>




