<body bgcolor=ffffff>

<table width=640>
       <tr>
           <td>  </td>
          <td colspan=3>
<br>
            <h3>Заказ  N 000<%ordnumber%>   от <%orddate%></h3>
<hr>
          </th>
        </tr>
  <tr>
    <td width=10> </td>

    <td>
      <table width=100%>
        <tr>
          <td>
            Покупатель: <b><%company%></b>
        <br>Поставщик: <b> <%name%></b>
             </td>
        </tr>

       </table>
    </td>
  </tr>

  <tr>
    <td> </td>
  
    <td>
      <table border=1  width=100% cellpadding=2 cellspacing=0>
        <tr>
          <th>No.</th>
          <th width=90%>Товар</th>
          <th>Кол-во</th>
          <th>Ед.</th>
          <th>Цена</th>
          <th>Сумма</th>
        </tr>

         <%foreach number%>
        <tr valign=top>
           <td align=right><%runningnumber%></td>
           <td><%description%></td>
          <td align=right><%qty%></td>
          <td align=center>шт.</td>
          <td align=right><%sellprice%></td>
          <td align=right><%linetotal%></td>
         </tr>
        <%end number%>

        <tr>
          <th colspan=5 align=right>Итого:</th>
          <th align=right><%subtotal%></th>
        </tr>
 
      </table>
    </td>
  </tr>

        </tr>
         <tr>
        <td>  </td>
        <td>
        </tr>

         <tr>
        <td>  </td>
        <td>

       <table width=100%>
         <tr>
        <td colspan=2>
<nobr>Всего наименований ___, на сумму <%subtotal%> руб.
 </td>
        </tr>
         <tr>
        <th colspan=2 align=left>
<%text_amount%>
 </th>
        </tr>
            <tr>
        <th colspan=2>
<hr height=1>
 </th>
        </tr>
          <tr>
        <th width=50% align=left>
<nobr>Руководитель ______________________________
 </th>
        <th align=right>
<nobr>Бухгалтер ______________________________
        </th>
        </tr>
        </table>
  
  </td>
  </tr>
      </table>

</table>

</body>
</html>
