
<body bgcolor=ffffff>

<table width=100 ?>
<tr>
  <td width=10>
  </td> 
  <td>
  
  <table width=100 ?>
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      <br>Tel/Fax <?lsmb tel ?> / <?lsmb fax ?>
      </h4>
    </td>

    <th colspan=2>
      <h4 align=center>I N V O I C E</h4>
    </th>
  </tr>

  </table>


  <table width=100% callspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
    <tr>
      <th align=right>Date</th><td width=10> </td><td><?lsmb invdate ?></td>
    </tr>
  
    <tr>
      <th align=right>Number</th><td></td><td><?lsmb invnumber ?></td></tr>
    </tr>

<!-- prepared by: <?lsmb username ?>
-->

    </table>
    </td>
  </tr>

  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>To:</th>
    </tr>

    <tr>
      <td><?lsmb name ?>
      <br><?lsmb address1 ?>
      <?lsmb if address2 ?>
<br><?lsmb address2 ?>
<?lsmb end address2 ?>
      <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
      <?lsmb if country ?>
<?lsmb country ?>
<?lsmb end country ?>
      </td>
      
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td> 
    </td>
  </tr>
  
  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Description</th>
      <th>&nbsp;</th>
      <th><font color=ffffff>Amount</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
      <td><?lsmb description ?></td>
      <td>&nbsp;</td>
      <td align=right><?lsmb linetotal ?></td>
    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=3><hr noshade></td>
    </tr>
    
    <tr>
<?lsmb if taxincluded ?>
      <td>&nbsp;</td>
      <th align=right>Total</th>
      <td align=right><?lsmb invtotal ?></td>
<?lsmb end taxincluded ?>
<?lsmb if not taxincluded ?>
      <td>&nbsp;</td>
      <th align=right>Subtotal</th>
      <td align=right><?lsmb subtotal ?></td>
<?lsmb end taxincluded ?>
    </tr>

<?lsmb foreach tax ?>
    <tr>
      <th colspan=2 align=right><?lsmb taxdescription ?></th>
      <td align=right><?lsmb tax ?></td>
    </tr>
<?lsmb end tax ?>

<!--
  <?lsmb taxbase ?> = total netamount for each tax bracket
  <?lsmb taxrate ?> = taxrate in percent
-->
     
<?lsmb if paid ?>
    <tr>
      <td>&nbsp;</td>
      <th align=right>Paid</th>
      <td align=right><?lsmb paid ?></td>
    </tr>
<?lsmb end paid ?>

    <tr>
      <td>&nbsp;</td>
      <td colspan=2><hr noshade></td>
    </tr>

    <tr>
      <td>
<?lsmb if terms ?>
Terms &nbsp;Net <b><?lsmb terms ?></b> days
<?lsmb end terms ?>
</td>
      <th align=right>Total</th>
      <th align=right><?lsmb total ?></th>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
    </tr>

    </table>
    </td>
  </tr>

<?lsmb if notes ?>
<tr>
  <td>
  <table width=100 ?>
    <tr valign=top>
      <td>Notes</td>
      <td><pre><?lsmb notes ?></pre></td>
      <td align=right>
      &nbsp;
      </td>
    </tr>

  </table>
  </td>
</tr>
<?lsmb end notes ?>

<tr><td>&nbsp;</td></tr>
  
<tr>
  <th colspan=3>
  Please make check payable to <?lsmb company ?>
  <br>Thank you for your valued business!
  </th>
</tr>


<tr><td>&nbsp;</td></tr>

<tr>
  <td>
  <table width=100 ?>
  <tr valign=top>
    <td><font size=-3>
    Payment due NET <?lsmb terms ?> Days from date of Invoice.
    Interest on overdue amounts will acrue at the rate of 1.5% per month
    from due date until paid in full.
    </font>
    </td>
    <td width=150>
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

<?lsmb foreach tax ?>
    <tr>
      <th colspan=3 align=left><font size=-2><?lsmb taxdescription ?> Registration <?lsmb taxnumber ?></th>
    </tr>
<?lsmb end tax ?>

<!--
  %username% = user name
  %businessnumber% = business number
-->

<!-- banking information
    <tr>
      <th colspan=3 align=left><font size=-2>Banking Information:
      <br>Bank
      <br>Transit No.
      <br>Account No.
      </th>
    </tr>
-->

</table>

</td>
</tr>
</table>

</body>
</html>

