
<body bgcolor=ffffff>

<table width=100 ?>
<tr>
  <td width=10>
  </td> 
  <td>
  
  <table width=100 ?>
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <th colspan=2>
      <h4 align=center>F A K T U R A</h4>
    </th>
  </tr>

  </table>

<!-- other variables you can use include
tel, fax, signature, username, businessnumber -->

  <table width=100% cellspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
      
    <tr>
      <th align=right>Fakturanr.:</th><td></td><td><?lsmb invnumber ?></td></tr>
    </tr>
   
    <tr>
      <th align=right>Fakturadatum:</th><td width=10> </td><td><?lsmb invdate ?></td>
    </tr>
    <tr>
      <td> 
      </td>
    </tr>
    </td>
    </table>
  </tr>

  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Fakturaadress:</th>
    <?lsmb if shiptoname ?>
      <th align=left><font color=ffffff>Leveringsadress:</th>
    <?lsmb end shiptoname ?>
    </tr>

    <tr>
      <td><?lsmb name ?>
      <br><?lsmb address1 ?>
      <?lsmb if address2 ?>
<br><?lsmb address2 ?>
<?lsmb end address2 ?>
      <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
      <?lsmb if country ?>
<?lsmb country ?>
<?lsmb end country ?>
      </td>
         <?lsmb if shiptoname ?>
         <td><?lsmb shiptoname ?>
         <br><?lsmb shiptoaddress1 ?>
         <?lsmb if shiptoaddress2 ?>
<br><?lsmb shiptoaddress2 ?>
<?lsmb end shiptoaddress2 ?>
         <br><?lsmb shiptocity ?> <?lsmb shiptostate ?> <?lsmb shiptozipcode ?>
         <?lsmb if shiptocountry ?>
<?lsmb shiptocountry ?>
<?lsmb end shiptocountry ?>
      </td>
      <?lsmb end shiptoname ?>
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>Nummer</th>
      <th align=left><font color=ffffff>Beskrivning</th>
      <th><font color=ffffff>Antal</th>
      <th>&nbsp;</th>
      <th><font color=ffffff>Pris</th>
         <th><font color=ffffff>Rabatt</th>
      <th><font color=ffffff>Sum</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>
      <td align=right><?lsmb sellprice ?></td>
      <td align=right><?lsmb discount ?></td>
      <td align=right><?lsmb linetotal ?></td>
    </tr>
<?lsmb end number ?>

<!--
you can also use netprice instead of sellprice if you
don't want to show the discount
netprice = sellprice - discount
to show the percentage for a discount use <?lsmb discountrate ?>
-->

    <tr>
      <td colspan=7><hr noshade></td>
    </tr>
    
    <tr>
      <th colspan=5 align=right>Subtotal</th>
      <td colspan=2 align=right><?lsmb subtotal ?></td>
    </tr>

<?lsmb foreach tax ?>
    <tr>
      <th colspan=5 align=right><?lsmb taxdescription ?> @ <?lsmb taxrate ?> %</th>
      <td colspan=2 align=right><?lsmb tax ?></td>
    </tr>
<?lsmb end tax ?>

<?lsmb if paid ?>
    <tr>
      <th colspan=5 align=right>Redan betalat</th>
      <td colspan=2 align=right>- <?lsmb paid ?></td>
    </tr>
<?lsmb end paid ?>

    <tr>
      <td colspan=3> </td>
      <td colspan=4><hr noshade></td>
    </tr>

    <tr>
      <td colspan=3>Betalningsfrist <b><?lsmb terms ?></b> dager</td>
      <th colspan=2 align=right>Att betala</th>
      <th colspan=2 align=right><?lsmb total ?></th>
    </tr>
    
    <tr>
      <td> 
      </td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width=100 ?>
    <tr valign=top>
<?lsmb if notes ?>
      <td>Notera</td>
      <td><pre><?lsmb notes ?></pre></td>
<?lsmb end notes ?>
      <td align=right>
      Alla priser i <b><?lsmb currency ?></b> 
      <br><?lsmb shippingpoint ?>
      </td>
    </tr>

  </table>
  </td>
</tr>

<tr><td> </td></tr>
  
<tr>
  <th colspan=7>
<!-- 20030814/Marius Kjeldahl: Commented out check statement as checks
are dead in Norway AFAIK -->
 
<!--  Utsted vennligst sjekk til <?lsmb company ?> på norsk bank -->
  <br>
  </th>
</tr>


<tr><td> </td></tr>

<tr>
  <td>
  <table width=100 ?>
  <tr valign=top>
    <td><font size=-3>
    Betalning innan <?lsmb terms ?> dagar från fakturadatum.
    Efterskuldräntor beräknas med 1% per påbörjad månad.
    
    </font>
    </td>

  </tr>
  </table>
  </td>
</tr>

<?lsmb foreach tax ?>
<tr>
  <th colspan=7 align=left><font size=-2><?lsmb taxdescription ?> Organisasjonsnr.: <?lsmb taxnumber ?></th>
</tr>
<?lsmb end tax ?>

</table>

</td>
</tr>
</table>

</body>
</html>

