
<body bgcolor=ffffff>

<table width=100 ?>
<tr valign=bottom>
  <td width=10>&nbsp;</td>
  <td>
  
  <table width=100 ?>
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <td><img src=http://www.ledger-smb.org/images/ledger-smb.png border=0 width=80 height=58>
    </td>

    <td align=right>
      <h4>
      Tel: <?lsmb tel ?>
      <br>Fax: <?lsmb fax ?>
      </h4>
    </td>
  </tr>

  <tr>
    <th colspan=3>
      <h4>B E G Ä R A N &nbsp;&nbsp; A V &nbsp;&nbsp; K V O T</h4>
    </th>
  </tr>

  </table>


  <table width=100% callspacing=0 cellpadding=0>
    
  <tr>
    <td>
    <table width=100 ?>
    <tr bgcolor=000000>
      <th align=left width=50 ?><font color=ffffff>To:</th>
      <th align=left width=50 ?><font color=ffffff>Ship To:</th>
    </tr>

    <tr valign=top>
      <td><?lsmb name ?>
      <br><?lsmb address1 ?>
      <?lsmb if address2 ?>
      <br><?lsmb address2 ?>
      <?lsmb end address2 ?>
      <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
      <?lsmb if country ?>
      <br><?lsmb country ?>
      <?lsmb end country ?>
<br>
<?lsmb if contact ?>
<br>Attn: <?lsmb contact ?>
<?lsmb end contact ?>
<?lsmb if vendorphone ?>
<br>Tel: <?lsmb vendorphone ?>
<?lsmb end vendorphone ?>
<?lsmb if vendorfax ?>
<br>Fax: <?lsmb vendorfax ?>
<?lsmb end vendorfax ?>
      </td>

      <td><?lsmb shiptoname ?>
      <br><?lsmb shiptoaddress1 ?>
      <?lsmb if shiptoaddress2 ?>
      <br><?lsmb shiptoaddr2 ?>
      <?lsmb end shiptoaddress2 ?>
      <br><?lsmb shiptocity ?> <?lsmb shiptostate ?> <?lsmb shiptozipcode ?>
      <?lsmb if shiptocountry ?>
      <br><?lsmb shiptocountry ?>
      <?lsmb end shiptocountry ?>
<br>
<?lsmb if shiptocontact ?>
<br>Attn: <?lsmb shiptocontact ?>
<?lsmb end shiptocontact ?>
<?lsmb if shiptophone ?>
<br>Tel: <?lsmb shiptophone ?>
<?lsmb end shiptophone ?>
<?lsmb if shiptofax ?>
<br>Fax: <?lsmb shiptofax ?>
<?lsmb end shiptofax ?>
    </tr>
    </table>
    </td>
  </tr>

  <tr><td>&nbsp;</td></tr>
  
  <tr>
    <td colspan=2>
    <table width=100% border=1>
    <tr>
      <th width=17% align=left>BAK #</th>
      <th width=17% align=left>Datum</th>
      <th width=17% align=left>Begärt av</th>
      <th width=17% align=left>Kontakt</th>
      <th width=17% align=left>Destination</th>
      <th width=15% align=left>Fraktas via</th>
    </tr>

    <tr>
      <td><?lsmb quonumber ?></td>
      <td><?lsmb quodate ?></td>
      <td><?lsmb reqdate ?></td>
      <td><?lsmb employee ?></td>
      <td><?lsmb shippingpoint ?>&nbsp;</td>
      <td><?lsmb shipvia ?>&nbsp;</td>
    </tr>
    </table>
    </td>
  </tr>

  <tr height="10"></tr>
  
  <tr>
    <td>Var vänlig delge pris och leverans tid för dessa artiklar:</td>
  </tr>

  <tr height="10"></tr>

  <tr>
    <td>
    <table width=100 ?>
    <tr>
<!--      <th align=right>No.</th>  -->
      <th align=left>Numner</th>
      <th align=left><font color=ffffff>Beskrivning</th>
      <th>Antal</th>
      <th>&nbsp;</th>
      <th>Leveras</th>
      <th>Enhets Pris</th>
      <th>Utökat</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
<!--      <td align=right><?lsmb runningnumber ?>.</td>
other per line item variables available <?lsmb reqdate ?>
adjust the colspan if you include this to shift subtotal one to the right
-->
      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>

    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=7><hr noshade></td>
    </tr>
    
    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width=100 ?>
<?lsmb if notes ?>
    <tr valign=top>
      <td>Notes</td>
      <td><?lsmb notes ?></td>
    </tr>
<?lsmb end notes ?>

  </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>
  
<tr>
  <td>
  <table width=100 ?>
  <tr valign=top>
    <td width=70 ?>&nbsp;</td>

    <td width=30 ?>
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>

</body>
</html>

