
<body bgcolor=ffffff>

<table width="100%">
<tr valign=bottom>
  <td width=10>&nbsp;</td>
  <td>
  
  <table width="100%">
  <tr>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <td align=right>
      <h4>
      Telefon: <?lsmb tel ?>
      <br>Telefax: <?lsmb fax ?>
      </h4>
    </td>
  </tr>

  <tr>
    <th colspan=3>
      <h4>I N K Ö P S &nbsp;&nbsp; O R D E R</h4>
    </th>
  </tr>

  </table>


  <table width=100% cellspacing=0 cellpadding=0>
    
  <tr>
    <td align=right>
    <table>
    <tr>
      <th align=right>Order datum</th><td width=10>&nbsp;</td><td><?lsmb orddate ?></td>
    </tr>
  
    <tr>
      <th align=right>Leverans innan</th><td width=10>&nbsp;</td><td><?lsmb reqdate ?></td>
    </tr>

    <tr>
      <th align=right>Ordernr.</th><td>&nbsp;</td><td><?lsmb ordnumber ?></td></tr>
    </tr>
  
    <tr>
      <td>&nbsp;</td>
    </tr>
    </td>
    </table>
  </tr>

  <tr>
    <td>
    <table width="100%">
    <tr bgcolor=000000>
      <th align=left><font color=ffffff>To:</th>
    </tr>

    <tr>
      <td><?lsmb name ?>
      <br><?lsmb address1 ?>
      <?lsmb if address2 ?>
<br><?lsmb address2 ?>
<?lsmb end address2 ?>
      <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
      <?lsmb if country ?>
<?lsmb country ?>
<?lsmb end country ?>
      </td>
    </tr>
    </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>
    <table width="100%">
    <tr bgcolor=000000>
<!--      <th align=right><font color=ffffff>No.</th>  -->
      <th align=left><font color=ffffff>Nummer</th>
      <th align=left><font color=ffffff>Beskrivning</th>
      <th><font color=ffffff>Ant.</th>
      <th>&nbsp;</th>
      <th><font color=ffffff>Pris</th>
      <th><font color=ffffff>Sum</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
<!--      <td align=right><?lsmb runningnumber ?>.</td>
adjust the colspan if you include this to shift subtotal one to the right
-->
      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>
      <td align=right><?lsmb sellprice ?></td>
      <td align=right><?lsmb linetotal ?></td>
    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=6><hr noshade></td>
    </tr>
    
    <tr>
      <th colspan=4 align=right>Pris ex moms</th>
      <td colspan=2 align=right><?lsmb subtotal ?></td>
    </tr>

<?lsmb foreach tax ?>
    <tr>
      <th colspan=4 align=right><?lsmb taxdescription ?> @ <?lsmb taxrate ?> %</th>
      <td colspan=2 align=right><?lsmb tax ?></td>
    </tr>
<?lsmb end tax ?>

    <tr>
      <td colspan=2>&nbsp;</td>
      <td colspan=4><hr noshade></td>
    </tr>

    <tr>
      <td colspan=2>Betalingsfrist <b><?lsmb terms ?></b> dagar</td>
      <th colspan=2 align=right>Total</th>
      <th colspan=2 align=right><?lsmb total ?></th>
    </tr>

    <tr>
      <td>&nbsp;</td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width="100%">
    <tr valign=top>
<?lsmb if notes ?>
      <td>Note</td>
      <td><pre><?lsmb notes ?></pre></td>
<?lsmb end notes ?>
      <td align=right>
      Alle priser i valuta <b><?lsmb currency ?></b>
      <br><?lsmb shippingpoint ?>
      </td>
    </tr>

  </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>
  
<tr>
  <td>
  <table width="100%">
  <tr valign=top>
    <td><font size=-3>

Betalning skall ske innan <?lsmb terms ?> dagar från
fakturadatum. Påminnelseränta räknas med 1.5% per månad från
fakturadatum. Till desss att det fulla beloppet är betalt.

Vid retur belastas 10% returvärdet. Retur av varor måste
forhandsgodkännas av <?lsmb company ?> för att därefter sändas. Varoreturer måste
sändas förbetalt och med tillräcklig försäkring. <?lsmb company ?> är
inte ansvarig for transportskador.

    </font>
    </td>
    <td width=150>
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>

</body>
</html>

