
<body bgcolor=ffffff>

<table width="100%">
<tr valign=bottom>
  <td width=10>&nbsp;</td>
  <td>
  
  <table width="100%">
  <tr valign=top>
    <td>
      <h4>
      <?lsmb company ?>
      <br><?lsmb address ?>
      </h4>
    </td>

    <th><img src=http://www.ledger-smb.org/images/ledger-smb.png border=0 width=64 height=58></th>

    <td align=right>
      <h4>
      電話： <?lsmb tel ?>
      <br>傳真： <?lsmb fax ?>
      </h4>
    </td>
  </tr>

<tr><td colspan=3>&nbsp;</td></tr>

  <tr>
    <th colspan=3>
      <h4>報價單</h4>
    </th>
  </tr>

  </table>

  <table width=100% cellspacing=0 cellpadding=0>

  <tr>
    <td>
    <table width="100%">

    <tr valign=top>
      <td><?lsmb name ?>
      <br><?lsmb address1 ?>
      <?lsmb if address2 ?>
      <br><?lsmb address2 ?>
      <?lsmb end address2 ?>
      <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
      <?lsmb if country ?>
      <br><?lsmb country ?>
      <?lsmb end country ?>

      <br>
      <?lsmb if contact ?>
      <br>致： <?lsmb contact ?>
      <?lsmb end contact ?>

      <?lsmb if customerphone ?>
      <br>電話： <?lsmb customerphone ?>
      <?lsmb end customerphone ?>

      <?lsmb if customerfax ?>
      <br>傳真： <?lsmb customerfax ?>
      <?lsmb end customerfax ?>

      <?lsmb if email ?>
      <br><?lsmb email ?>
      <?lsmb end email ?>
      </td>

    </tr>
    </table>
    </td>
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
    <td colspan=2>
      <table width=100% border=1>
        <tr>
	  <th width=17% align=left nowrap>號碼</th>
	  <th width=17% align=left>日期</th>
	  <th width=17% align=left>有效期</th>
	  <th width=17% align=left nowrap>聯絡人</th>
	  <th width=17% align=left nowrap>付運點</th>
	  <th width=15% align=left nowrap>付運公司</th>
	</tr>

	<tr>
	  <td><?lsmb quonumber ?></td>
	  <td><?lsmb quodate ?></td>
	  <td><?lsmb reqdate ?></td>
	  <td><?lsmb employee ?></td>
	  <td><?lsmb shippingpoint ?>&nbsp;</td>
	  <td><?lsmb shipvia ?>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>
    <table width="100%">
    <tr bgcolor=000000>
      <th align=right><font color=ffffff>號碼</th>
      <th align=left><font color=ffffff>號碼</th>
      <th align=left><font color=ffffff>描述</th>
      <th><font color=ffffff>數量</th>
      <th>&nbsp;</th>
      <th><font color=ffffff>價格</th>
      <th><font color=ffffff>折扣 %</th>
      <th><font color=ffffff>金額</th>
    </tr>

<?lsmb foreach number ?>
    <tr valign=top>
    <td align=right><?lsmb runningnumber ?></td>

      <td><?lsmb number ?></td>
      <td><?lsmb description ?></td>
      <td align=right><?lsmb qty ?></td>
      <td><?lsmb unit ?></td>
      <td align=right><?lsmb sellprice ?></td>
      <td align=right><?lsmb discountrate ?></td>
      <td align=right><?lsmb linetotal ?></td>
    </tr>
<?lsmb end number ?>

    <tr>
      <td colspan=8><hr noshade></td>
    </tr>
    
    <tr>
<?lsmb if taxincluded ?>
      <th colspan=6 align=right>合計</th>
      <td colspan=2 align=right><?lsmb invtotal ?></td>
<?lsmb end taxincluded ?>

<?lsmb if not taxincluded ?>
      <th colspan=6 align=right>小計</th>
      <td colspan=2 align=right><?lsmb subtotal ?></td>
<?lsmb end taxincluded ?>
    </tr>

<?lsmb foreach tax ?>
    <tr>
      <th colspan=6 align=right><?lsmb taxdescription ?> 基於 <?lsmb taxbase ?> @ <?lsmb taxrate ?> %</th>
      <td colspan=2 align=right><?lsmb tax ?></td>
    </tr>
<?lsmb end tax ?>

    <tr>
      <td colspan=4>&nbsp;</td>
      <td colspan=4><hr noshade></td>
    </tr>

    <tr>
      <td colspan=4>&nbsp;
<?lsmb if terms ?>
      有效期為淨<b><?lsmb terms ?></b>日
<?lsmb end terms ?>
      </td>
      <th colspan=2 align=right>合計</th>
      <th colspan=2 align=right><?lsmb quototal ?></th>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width="100%">
    <tr valign=top>
<?lsmb if notes ?>
      <td>備註</td>
      <td><?lsmb notes ?></td>
<?lsmb end notes ?>
      <td align=right>
      所有價格均為<b><?lsmb currency ?></b>
      </td>
    </tr>

  </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr>
  <td>
  <table width="100%">
  <tr valign=top>
    <td width="60%"><font size=-3>
若要取消訂購特價品的訂單，須支付10%的訂單取消費用。
    </font>
    </td>
    <td width="40%">
    X <hr noshade>
    </td>
  </tr>
  </table>
  </td>
</tr>

</table>

</td>
</tr>
</table>

</body>
</html>

