<body bgcolor=ffffff>

<table width=100%>
  <tr>
    <td width=10>&nbsp;</td>

    <td>
      <table width=100%>
        <tr>
          <td>
            <h4>
            <%company%>
        <br><%address%>
            </h4>
          </td>

          <th><img src=sql-ledger.png border=0 width=84 height=58></th>

          <td align=right>
            <h4>
            電話： <%tel%>
        <br>傳真： <%fax%>
            </h4>
          </td>
        </tr>

        <tr>
          <th colspan=3>
	    <hr noshade><br>
            <h4>工時卡</h4>
          </th>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
        <tr valign=top>
	  <td>
	    <table>
	      <tr>
		<th align=left>職員</th>
		<td><%employee%></td>
	      </tr>
	      <tr>
		<th align=left>編號</th>
		<td><%employee_id%></td>
	      </tr>
	    </table>
	  </td>
   
	  <td align=right>
	    <table>
	      <tr>
		<th align=left nowrap>卡號</th>
		<td><%id%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>上班日期</th>
		<td><%transdate%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>上班時間</th>
		<td><%checkedin%></td>
	      </tr>
              <tr>
                <th align=left>下班時間</th>
		<td><%checkedout%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>工作時數</th>
		<td><%qty%></td>
	      </tr>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table width=100%>
        <tr valign=bottom>
	  <td>
	    <table>
	      <tr valign=top>
	        <th align=left>方案/工作編號</th>
		<td><%projectnumber%></td>
	      </tr>
	      <tr>
	        <th align=left>摘要</th>
		<td><%projectdescription%></td>
	      </tr>
	      <tr valign=top>
	        <th align=left>勞工/服務代碼</th>
		<td><%partnumber%></td>
	      </tr>
	      <tr>
	        <th align=left>摘要</th>
		<td><%description%></td>
	      </tr>
	    </table>
	  </td>
	  <td align=right>
	    <table>
	      <tr>
	        <th align=right>單價</th>
		<td><%sellprice%></td>
	      </tr>
	      <tr>
		<th align=right>合計</th>
		<td><%total%></td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

<%if notes%>
  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>

    <td>
      <%notes%>
    </td>
  </tr>
<%end notes%>

</table>

</body>
</html>

