
<body bgcolor=ffffff>

<table width=100 ?>
  <tr>
    <td width=10>&nbsp;</td>
    <td>
      <table width=100 ?>
	<tr>
	  <td>
	    <h4>
	    <?lsmb company ?>
	    <br><?lsmb address ?>
	    </h4>
	  </td>
	  <th><img src=http://www.ledger-smb.org/images/ledger-smb.png border=0 width=64 height=58></th>
	  <td align=right>
	  <h4>
	  電話： <?lsmb tel ?>
	  <br>傳真： <?lsmb fax ?>
	  </h4>
	  </td>
	</tr>
	<tr>
	  <th colspan=3><h4>會計帳</h4></th>
	</tr>
	<tr>
	  <td colspan=3 align=right><?lsmb statementdate ?></td>
	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <table width=100 ?>
	<tr valign=top>
	  <td><?lsmb name ?>
	  <br><?lsmb address1 ?>
	  <?lsmb if address2 ?>
	  <br><?lsmb address2 ?>
	  <?lsmb end address2 ?>
	  <br><?lsmb city ?> <?lsmb state ?> <?lsmb zipcode ?>
	  <?lsmb if country ?>
	  <br><?lsmb country ?>
	  <?lsmb end country ?>
	  <br>
<?lsmb if customerphone ?>
	  <br>電話： <?lsmb customerphone ?>
<?lsmb end customerphone ?>
<?lsmb if customerfax ?>
	  <br>傳真： <?lsmb customerfax ?>
<?lsmb end customerfax ?>
<?lsmb if email ?>
	  <br><?lsmb email ?>
<?lsmb end email ?>
	  </td>
	</tr>
      </table>
    </td>
  </tr>
  <tr height=10></tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <table width=100 ?>
        <tr>
	  <th align=left>發票編號</th>
 <th align=left>訂單編號</th>
<th align=left>備註</th>
	  <th width=10 ?>發票日期</th>
	  <th width=10 ?>到期日</th>
	  <th width=10 ?>目前</th>
	  <th width=10 ?>30</th>
	  <th width=10 ?>60</th>
	  <th width=10 ?>90+</th>
	</tr>
<?lsmb foreach invnumber ?>
	<tr>
	  <td><?lsmb invnumber ?></td>
<td><?lsmb ordnumber ?></td>
<td><?lsmb notes ?></td>
	  <td><?lsmb invdate ?></td>
	  <td><?lsmb duedate ?></td>
	  <td align=right><?lsmb c0 ?></td>
	  <td align=right><?lsmb c30 ?></td>
	  <td align=right><?lsmb c60 ?></td>
	  <td align=right><?lsmb c90 ?></td>
	</tr>
<?lsmb end invnumber ?>
        <tr>
	  <td colspan=9><hr size=1></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <th align=right><?lsmb c0total ?></td>
	  <th align=right><?lsmb c30total ?></td>
	  <th align=right><?lsmb c60total ?></td>
	  <th align=right><?lsmb c90total ?></td>
	</tr>
      </table>
    </td>
  </tr>
  <tr height=10></tr>
  <tr>
    <td>&nbsp;</td>
    <td align=right>
      <table width=50 ?>
        <tr>
	  <th>合計餘額</th>
          <th align=right><?lsmb total ?></th>
	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><hr noshade></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>支票抬頭請寫<b><?lsmb company ?></b>。
    </td>
  </tr>

</table>

</body>
</html>

