#!/bin/bash


#REQUIRE_bin jq

if ! declare -F Log >/dev/null; then # declare a local copy of the Log() function that only prints to screen
    function Log() {
        echo -e "$@"
    }
fi


echo "this to the user: your username is $USER"
Log "this to the log: this test was run as user $USER"
