/* stylelint-disable max-line-length */

/* Gnome Stylesheet for LedgerSMB
Mixed by: Andres Basile <basile@gmail.com>
Original file: ledgersmb.css
Icons: http://download.gnome.org/sources/gnome-icon-theme
Copyright: Ulisse Perusin <uli.peru@gmail.com>; Riccardo Buzzotta <raozuzu@yahoo.it>; Josef Vybaï¿½ral <cornelius@vybiral.info>; Hylke Bons <h.bons@student.rug.nl>; Ricardo Gonzalez <rick@jinlabs.com>; Lapo Calamandrei <calamandrei@gmail.com>; Rodney Dawes <dobey@novell.com>; Luca Ferretti <elle.uca@libero.it>; Tuomas Kuosmanen <tigert@gimp.org>; Andreas Nilsson <nisses.mail@home.se>; Jakub Steiner <jimmac@novell.com>
This package is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; version 2 dated June, 1991.
*/

@import url("system/global.css");

/* general stuff */

a:link {
    text-decoration-line: none;
}

a:visited {
    text-decoration-line: none;
}

a:active {
    text-decoration-line: underline;
}

a:hover {
    background-color: transparent;
    text-decoration-line: underline;
}

body {
    background-color: #edeceb;
    color: #1a1a1a;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12pt;
}

.cornerlogo {
    background: inherit;
    border: 1px solid #000;
    margin-left: 1px;
    padding: 4px;
    width: 150px;
}

ul#top_menu {
    list-style-type: none;
    padding: 0;
}

ul.submenu {
    border: 1px solid #000;
    list-style-type: none;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0;
}

li.menu_closed {
    background: #999 url("gnome/zoom-in.png") top left no-repeat;
    padding-left: 18px;
}

li.menu_open {
    background: #bbb url("gnome/zoom-out.png") top left no-repeat;
    padding-left: 18px;
}

li.menu_item {
    background: #ddd url("gnome/edit-redo.png") top left no-repeat;
    padding-left: 18px;
}

/* Reports
Reportes */

li#menu_4,
li#menu_13,
li#menu_24,
li#menu_32,
li#menu_41,
li#menu_53,
li#menu_70,
li#menu_76,
li#menu_85,
li#menu_103,
li#menu_109,
li#menu_226,
li#menu_236 {
    background: #eee url("gnome/address-book-new.png") top left no-repeat;
}

/* Search
Buscar */

li#menu_14,
li#menu_33,
li#menu_49,
li#menu_104,
li#menu_221,
li#menu_233,
li#menu_222 {
    background: #eee url("gnome/system-search.png") center left no-repeat;
}

/* History
Historial */

li#menu_15,
li#menu_34 {
    background: #eee url("gnome/document-open-recent.png") center left no-repeat;
}

/* Add
Nuevo */

li#menu_2,
li#menu_12,
li#menu_22,
li#menu_31,
li#menu_36,
li#menu_38,
li#menu_48,
li#menu_78,
li#menu_79,
li#menu_80,
li#menu_81,
li#menu_82,
li#menu_83,
li#menu_99,
li#menu_100,
li#menu_137,
li#menu_139,
li#menu_142,
li#menu_145,
li#menu_148,
li#menu_151,
li#menu_154,
li#menu_218,
li#menu_220,
li#menu_230,
li#menu_232,
li#menu_198,
li#menu_3,
li#menu_194,
li#menu_195,
li#menu_199,
li#menu_23,
li#menu_196,
li#menu_197,
li#menu_68,
li#menu_69,
li#menu_51,
li#menu_52 {
    background: #eee url("gnome/list-add.png") center left no-repeat;
}

/* List
Lista */

li#menu_138,
li#menu_140,
li#menu_143,
li#menu_146,
li#menu_149,
li#menu_152,
li#menu_155,
li#menu_225,
li#menu_231 {
    background: #eee url("gnome/libreoffice-text.png") top left no-repeat;
}

/* Templates */

li#menu_157,
li#menu_158,
li#menu_159,
li#menu_160,
li#menu_161,
li#menu_162,
li#menu_163,
li#menu_164,
li#menu_165,
li#menu_166,
li#menu_167,
li#menu_168,
li#menu_169,
li#menu_170,
li#menu_171,
li#menu_241,
li#menu_173,
li#menu_174,
li#menu_175,
li#menu_176,
li#menu_177,
li#menu_178,
li#menu_179,
li#menu_180,
li#menu_181,
li#menu_182,
li#menu_183,
li#menu_184,
li#menu_185,
li#menu_186,
li#menu_187,
li#menu_242,
li#menu_189 {
    background: #eee url("gnome/text-x-preview.png") top left no-repeat;
}

/* Contacts
Contactos */

li#menu_11,
li#menu_30,
li#menu_47 {
    background: #eee url("gnome/user-info.png") top left no-repeat;
}

/* Inventory
Inventario */

li#menu_114 {
    background: #eee url("gnome/package-x-generic.png") center left no-repeat;
}

/* Printing
 */

li#menu_114,
li#menu_117,
li#menu_118,
li#menu_119,
li#menu_120,
li#menu_121,
li#menu_122,
li#menu_123,
li#menu_124,
li#menu_125,
li#menu_126,
li#menu_127 {
    background: #eee url("gnome/document-print.png") center left no-repeat;
}

/* Recurrents
Recurrentes */

li#menu_115 {
    background: #eee url("gnome/view-refresh.png") center left no-repeat;
}

/* Taxes
Impuestos */

li#menu_130 {
    background: #eee url("gnome/face-angry.png") top left no-repeat;
}

/* Preferences
Preferencias */

li#menu_191,
li#menu_131 {
    background: #eee url("gnome/preferences-system.png") center left no-repeat;
}

/* New Window
Nueva Ventana */

li#menu_192 {
    background: #eee url("gnome/window-new.png") center left no-repeat;
}

/* Logout
Salir */

li#menu_193 {
    background: #eee url("gnome/system-log-out.png") center left no-repeat;
}

span.warning_label {
    color: red;
    font-weight: bold;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#company_info,
#version_info,
#login_info {
    font-size: 9pt;
    font-weight: bold;
}

/* login and admin */

.login {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body.login {
    background: #edeceb;
    color: black;
}

h1.login {
    font-size: 18pt;
}

table.login {
    background-color: #edeceb;
    padding: 20px;
}

td.login {
    text-align: center;
}

th.login {
    text-align: right;
}

body.admin {
    background-color: #fff;
    color: black;
}

/* ##### MENU ##### */

.menuOut {
    background-color: #eee;
    color: #000084;
    cursor: pointer;
    font-size: 11px;
    padding: 2px;
    text-align: left;
}

.menuOver {
    background-color: #004a80;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    padding: 2px;
    text-align: left;
}

.submenu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
}

.menuOut a {
    background-color: #eee;
    border: 0 solid #000;
    color: #000084;
    cursor: pointer;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.menuOver a {
    background-color: transparent;
    color: #fff;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.submenu a {
    color: #004a80;
    text-decoration-line: none;
}

.submenu a:hover {
    background: #004a80;
    color: #eee;
    text-decoration-line: none;
}

.listtop {
    background-color: #f5f5b5;
    color: #1a1a1a;
    font-size: 11pt;
    font-weight: bold;
    margin: 3px;
}

.listheading {
    background-color: #86abd9;
    color: #1a1a1a;
    font-size: 10pt;
}

a.listheading:link,
a.listheading:active,
a.listheading:visited {
    text-decoration-line: none;
}

.listrow1,
table.dynatable tr:nth-child(odd) {
    background-color: #e6e6fa;
    color: black;
    font-size: 10pt;
    vertical-align: top;
}

.listrow0,
table.dynatable tr:nth-child(even) {
    background-color: #ffe4e1;
    color: black;
    font-size: 10pt;
    vertical-align: top;
}

.listrow1:hover,
table.dynatable tbody tr:nth-child(odd):hover {
    background-color: #a4a4a6;
}

.listrow0:hover,
table.dynatable tbody tr:nth-child(even):hover {
    background-color: #aaa2a0;
}

.listsubtotal {
    background-color: #5a7d9b;
    color: white;
    font-size: 10pt;
}

.listtotal {
    background-color: #edeceb;
    color: green;
    font-size: 10pt;
    text-align: right;
    vertical-align: top;
}

textarea {
    background-color: #eee;
    border: 1px solid #888;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

input {
    background-color: #eee;
    border: 1px solid #888;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.submit {
    color: #000080;
    font-size: 10pt;
    font-weight: normal;
}

.checkbox,
.radio {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.plus0 {
    /* font color for negative numbers */
    color: red;
}

.plus1 {
    color: green;
}

h2.confirm {
    color: blue;
    font-size: 14pt;
}

h2.error {
    color: red;
    font-size: 14pt;
}

#company_div div.note {
    display: none;
}

#notes_div div.note {
    background-color: #ddd;
    border: 2px;
    border-style: groove;
    height: 5em;
    margin: 1em;
    overflow: hidden;
    padding: 1em;
    width: 90%;
}

#notes_div div.note:hover {
    background-color: #ddd;
    border-style: groove;
    height: 100%;
    min-height: 5em;
    overflow: auto;
    width: 90%;
}

tr.active {
    background-color: #ddd;
}

tr.record {
    background-color: pink;
}

tr.warning {
    background-color: yellow;
}

/* media stuff */

@media screen {
    .noscreen {
        /* items with this class won't display */
        display: none;
    }
}

@media print {
    .noprint {
        /* items with this class won't print */
        display: none;
    }
}

/* ajax-specific styling */

div.autocomplete {
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 350px;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li.selected {
    background-color: #ccc;
}

div.autocomplete ul li {
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

span.indicator {
    background-color: #eee;
    border: 1px solid black;
    font-size: 10px;
    padding: 2px;
}
