/* stylesheet for ledger-smb, blue theme */

@import url("system/ledgersmb-common.css");

/* CSS3 Variables */

:root {
    /* Backgrounds */
    --a-hover-bg-clr: initial;
    --body-bg-clr: white;
    --body-admin-bg-clr: #fbffe7;
    --body-app-login-bg: initial;
    --body-login-bg: #5a7d9b;
    --body-menu-bg: #f0f0f0;
    --body-menu-ul-bg-clr: initial;
    --cornerlogo-bg: initial;
    --div-autocomplete-bg-clr: initial;
    --div-autocomplete-ul-li-selected-bg-clr: initial;
    --hr-bg-clr: initial;
    --input-bg-clr: initial;
    --input-remove--before-bg: initial;
    --input-remove-checked--before-bg: initial;
    --listheading-bg-clr: #6495ed;
    --listheading-bg-clr: #6495ed;
    --listrow0-hover-bg-clr: #e8e8e8;
    --listrow0-bg-clr: #f5f5f5;
    --listrow1-hover-bg-clr: #e8e8e8;
    --listrow1-bg-clr: #dedede;
    --listsubtotal-bg-clr: #366;
    --listsubtotal-bg-clr: #366;
    --listsubtotal-bg-clr: #366;
    --listtop-bg-clr: black;
    --listtotal-bg-clr: black;
    --listtotal-bg-clr: black;
    --menuOut-bg-clr: initial;
    --menuOut-a-bg-clr: initial;
    --menuOver-bg-clr: initial;
    --menuOver-a-bg-clr: initial;
    --notes_div-div-note-bg-clr: initial;
    --notes_div-div-note-hover-bg-clr: initial;
    --pwfeedback-failure-bg-clr: initial;
    --pwfeedback-success-bg-clr: initial;
    --pw-strength-good-bg-clr: initial;
    --pw-strength-strong-bg-clr: initial;
    --pw-strength-weak-bg-clr: initial;
    --span-indicator-bg-clr: initial;
    --span-no-submit-bg: initial;
    --submenu-a-hover-bg: initial;
    --submit-bg-clr: initial;
    --table-login-bg-clr: #fbffe7;
    --td-cleared-future-bg: initial;
    --td-cleared-past-bg: initial;
    --textarea-bg-clr: initial;
    --top_menu-bg: initial;
    --tr-active-bg-clr: initial;
    --tr-record-bg-clr: initial;
    --tr-suspect-bg-clr: initial;
    --tr-warning-bg-clr: initial;
    --tr-warning-bg-clr: initial;

    /* Color */
    --a-hover-bg-clr: initial;
    --body-bg-clr: white;
    --body-admin-bg-clr: #fbffe7;
    --body-app-login-bg: initial;
    --body-login-bg: #5a7d9b;
    --body-menu-ul-bg-clr: initial;
    --cornerlogo-bg: initial;
    --div-autocomplete-bg-clr: initial;
    --div-autocomplete-ul-li-selected-bg-clr: initial;
    --hr-bg-clr: initial;
    --input-bg-clr: initial;
    --input-remove--before-bg: initial;
    --input-remove-checked--before-bg: initial;
    --listheading-bg-clr: #6495ed;
    --listheading-clr: white;
    --listrow0-bg-clr: #f5f5f5;
    --listrow0-hover-bg-clr: #e8e8e8;
    --listrow1-bg-clr: #dedede;
    --listrow1-hover-bg-clr: #e8e8e8;
    --listsubtotal-bg-clr: #366;
    --listtop-bg-clr: black;
    --listtop-clr: white;
    --listtotal-bg-clr: black;
    --menuOut-bg-clr: initial;
    --menuOut-a-bg-clr: initial;
    --menuOver-bg-clr: initial;
    --menuOver-a-bg-clr: initial;
    --notes_div-div-note-bg-clr: initial;
    --notes_div-div-note-hover-bg-clr: initial;
    --pwfeedback-failure-bg-clr: initial;
    --pwfeedback-success-bg-clr: initial;
    --pw-strength-good-bg-clr: initial;
    --pw-strength-strong-bg-clr: initial;
    --pw-strength-weak-bg-clr: initial;
    --span-indicator-bg-clr: initial;
    --span-no-submit-bg: initial;
    --submenu-a-hover-bg: initial;
    --submit-bg-clr: initial;
    --table-login-bg-clr: #fbffe7;
    --td-cleared-future-bg: initial;
    --td-cleared-past-bg: initial;
    --textarea-bg-clr: initial;
    --top_menu-bg: initial;
    --textBox-ReadOnly-color: initial;
    --tr-active-bg-clr: initial;
    --tr-record-bg-clr: initial;
    --tr-suspect-bg-clr: initial;
    --tr-warning-bg-clr: initial;

    /* Borders */
    --a-active-border: 1px #6495ed;
    --body-menu-ul-border: initial;
    --cornerlogo-border: initial;
    --div-autocomplete-border: initial;
    --financial-statement-tr-total-td-amount-border-top: initial;
    --input-border: initial;
    --listheading-border: initial;
    --listtop-border: initial;
    --menuOut-border: initial;
    --menuOut-a-border: 0 solid #000;
    --menuOver-border: initial;
    --menuOver-a-border: 0 solid #000;
    --notes_div-div-note-border: initial;
    --notes_div-div-note-hover-border-style: initial;
    --span-indicator-border: initial;
    --submit-border: initial;
    --table-warning-border: initial;
    --textarea-border: initial;

    /* Fonts-familly */
    --body-font-family: verdana, arial, helvetica;
    --body-menu-font-family: verdana, arial, helvetica;
    --checkbox-font-family: verdana, arial, helvetica;
    --input-font-family: verdana, arial, helvetica;
    --login-font-family: verdana, arial, helvetica;
    --select-font-family: verdana, arial, helvetica;
    --submenu-font-family: verdana, arial, helvetica;
    --submit-font-family: verdana, arial, helvetica;
    --td-font-family: verdana, arial, helvetica;
    --textarea-font-family: verdana, arial, helvetica;
    --th-font-family: verdana, arial, helvetica;

    /* Fonts-size */
    --body-font-size: 10pt;
    --body-menu-font-size: 10pt;
    --body-menu-ul-font-size: initial;
    --checkbox-font-size: 10pt;
    --company_info-font-size: initial;
    --div-autocomplete-ul-li-font-size: initial;
    --div-title-font-size: initial;
    --h1-login-font-size: 18pt;
    --h2-confirm-font-size: 14pt;
    --h2-error-font-size: 14pt;
    --input-font-size: 10pt;
    --listheading-font-size: 10pt;
    --listrow0-font-size: 10pt;
    --listrow1-font-size: 10pt;
    --listsubtotal-font-size: 10pt;
    --listtop-font-size: 10pt;
    --listtotal-font-size: 10pt;
    --menuOut-font-size: 12px;
    --menuOut-a-font-size: 12px;
    --menuOver-font-size: 12px;
    --menuOver-a-font-size: 12px;
    --select-font-size: 10pt;
    --span-indicator-font-size: initial;
    --submenu-font-size: 12px;
    --submit-font-size: 10pt;
    --td-font-size: 10pt;
    --textarea-font-size: 10pt;
    --th-font-size: 10pt;
    --version_info-font-size: initial;
}
