/* stylesheet for ledger-smb */

/* general stuff */
A:link { color: #a0522d; text-decoration: none; }
A:visited { color: #a0522d; text-decoration: none; }
A:active { color: #a0522d; text-decoration: underline; }
A:hover { color: white;
  background-color: #bbbbbb;
  text-decoration: none;
}

body {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  background-color: white;
  color: black
}

span.warning_label {
  font-weight: bold;
  color: red
}
td {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
}

th {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
}

/* login and admin */
.login {
  font-family: Verdana, Arial, Helvetica;
}
body.login {
  background: #5a7d9b;
  color: black;
}
h1.login {
  font-size: 18pt;
}
table.login {
  background-color: #FBFFE7;
  padding: 20px;
}
td.login {
  text-align: center;
}
th.login {
  text-align: right;
}

body.admin {
  background-color: #FBFFE7;
  color: black;
}

body.menu {
  background-color: #d8bfd8;
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: black;
}

.menuOut {
  cursor: pointer;
  background-color: #d8bfd8;
  font-size: 10px;
  color: #000084;
  border: 1px solid #d8bfd8;
  padding: 2px;
  text-align: left;
  font-weight: bold;
}

.menuOver {
  cursor: pointer;
  background-color: #5a7d9b;
  font-size: 10px;
  color: #ffffff;
  border: 1px solid #d8bfd8;
  padding: 2px;
  text-align: left;
  font-weight: bold;
}

.submenu {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10px;
  padding-left: 5px;
}

.menuOut a {
  cursor: pointer;
  margin: 0px;
  background-color: #e6e6fa;
  font-size: 10px;
  color: #000084;
  border: 0px solid #000000;
  padding: 0px;
  text-align: left;
  font-weight: bold;
}

.menuOver a {
  cursor: pointer;
  margin: 0px;
  background-color: #5a7d9b;
  font-size: 10px;
  color: #ffffff;
  border: 0px solid #000000;
  padding: 0px;
  text-align: left;
  font-weight: bold;
}

.submenu a {
  color: #a0522d;
  text-decoration: none;
}

.submenu a:hover {
  color: #a0522d;
  text-decoration: none;
}

.listtop { font-size: 10pt; background-color: black; color: white; }
.listheading { font-size: 10pt; background-color: #336666;
               font-weight: bold; color: white; }
A.listheading:link, A.listheading:active, A.listheading:visited {
  color: white;
  text-decoration: none; }
.listrow1, table.dynatable tr:nth-child(odd) { font-size: 10pt; background-color: #e6e6fa; color: black; vertical-align: top; }
.listrow0, table.dynatable tr:nth-child(even) { font-size: 10pt; background-color: #ffe4e1; color: black; vertical-align: top; }
.listsubtotal { font-size: 10pt; background-color: #5a7d9b; color: white; }
.listtotal { font-size: 10pt; background-color: black; color: white; }

textarea {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
}

input {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
}

select {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
}

.submit {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #000080;
}

.checkbox, .radio {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
}

.plus0 {    /* font color for negative numbers */
  color: red;
}

.plus1 {
  color: green;
}

h2.confirm {
  color: blue;
  font-size: 14pt;
}

h2.error {
  color: red;
  font-size: 14pt;
}


/* media stuff */

@media screen {
  .noscreen {   /* items with this class won't display */
    display: none;
  }
}

@media print {
  .noprint {   /* items with this class won't print */
    display: none;
  }
}



