/* stylesheet for ledger-smb, smallgray theme */

@import "ledgersmb-common.css";

/* CSS3 Variables */

:root {
    /* Backgrounds */
    --a-hover-bg-clr: #ccc;
    --body-bg-clr: white;
    --body-admin-bg-clr: white;
    --body-app-login-bg: initial;
    --body-login-bg: #ddd;
    --body-menu-bg: white;
    --body-menu-ul-bg-clr: white;
    --cornerlogo-bg: initial;
    --div-autocomplete-bg-clr: initial;
    --div-autocomplete-ul-li-selected-bg-clr: initial;
    --hr-bg-clr: #eee;
    --input-bg-clr: #eee;
    --input-remove--before-bg: initial;
    --input-remove-checked--before-bg: initial;
    --listheading-bg-clr: #eee;
    --listrow0-bg-clr: #f0f0f0;
    --listrow0-hover-bg-clr: #aaa2a0;
    --listrow1-bg-clr: #f8f8f8;
    --listrow1-hover-bg-clr: #a4a4a6;
    --listsubtotal-bg-clr: #eee;
    --listtop-bg-clr: #e0e0e0;
    --listtotal-bg-clr: #e0e0e0;
    --menuOut-bg-clr: initial;
    --menuOut-a-bg-clr: initial;
    --menuOver-bg-clr: initial;
    --menuOver-a-bg-clr: initial;
    --notes_div-div-note-bg-clr: initial;
    --notes_div-div-note-hover-bg-clr: initial;
    --pwfeedback-failure-bg-clr: initial;
    --pwfeedback-success-bg-clr: initial;
    --pw-strength-good-bg-clr: initial;
    --pw-strength-strong-bg-clr: initial;
    --pw-strength-weak-bg-clr: initial;
    --span-indicator-bg-clr: initial;
    --span-no-submit-bg: initial;
    --submenu-a-hover-bg: initial;
    --submit-bg-clr: initial;
    --table-login-bg-clr: #bbb;
    --td-cleared-future-bg: initial;
    --td-cleared-past-bg: initial;
    --textarea-bg-clr: #eee;
    --top_menu-bg: initial;
    --tr-active-bg-clr: initial;
    --tr-record-bg-clr: initial;
    --tr-suspect-bg-clr: initial;
    --tr-warning-bg-clr: initial;

    /* Color */
    --a-active-clr: blue;
    --a-hover-clr: blue;
    --a-link-clr: blue;
    --a-listheading-link-clr: black;
    --a-visited-clr: blue;
    --body-clr: black;
    --body-admin-clr: black;
    --body-app-login-clr: initial;
    --body-login-clr: black;
    --body-menu-clr: black;
    --body-menu-ul-clr: black;
    --financial-statement-a-clr: initial;
    --h2-confirm-clr: blue;
    --h2-error-clr: red;
    --input-remove--before-clr: initial;
    --listheading-clr: black;
    --listrow0-clr: black;
    --listrow0-hover-clr: initial;
    --listrow1-clr: black;
    --listrow1-hover-clr: initial;
    --listsubtotal-clr: black;
    --listtop-clr: black;
    --listtotal-clr: black;
    --menuOut-clr: initial;
    --menuOut-a-clr: initial;
    --menuOver-clr: initial;
    --menuOver-a-clr: initial;
    --plus0-clr: red;
    --plus1-clr: green;
    --span-no-submit-clr: initial;
    --span-warning_label-clr: red;
    --submenu-a-clr: initial;
    --submenu-a-hover-clr: initial;
    --submit-clr: black;
    --td-cleared-future-clr: initial;
    --td-cleared-past-clr: initial;
    --thead-a-link-clr: initial;
    --tr-suspect-clr: initial;
    --tr-warning-clr: initial;

    /* Borders */
    --a-active-border: initial;
    --body-menu-ul-border: none;
    --cornerlogo-border: initial;
    --div-autocomplete-border: initial;
    --financial-statement-tr-total-td-amount-border-top: initial;
    --input-border: 1px solid black;
    --listheading-border: initial;
    --listtop-border: initial;
    --menuOut-border: initial;
    --menuOut-a-border: initial;
    --menuOver-border: initial;
    --menuOver-a-border: initial;
    --notes_div-div-note-border: initial;
    --notes_div-div-note-hover-border-style: initial;
    --span-indicator-border: initial;
    --submit-border: initial;
    --table-warning-border: initial;
    --textarea-border: 1px solid black;

    /* Fonts-familly */
    --body-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --body-menu-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --checkbox-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --input-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --login-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --select-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --submenu-font-family: initial;
    --submit-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --td-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --textarea-font-family: andale mono, lucidatypewriter, courier new, monospace;
    --th-font-family: andale mono, lucidatypewriter, courier new, monospace;

    /* Fonts-size */
    --body-font-size: 14.667px;
    --body-menu-font-size: 14.667px;
    --body-menu-ul-font-size: 14.667px;
    --checkbox-font-size: 14.667px;
    --company_info-font-size: initial;
    --div-autocomplete-ul-li-font-size: initial;
    --div-title-font-size: initial;
    --h1-login-font-size: 14.667px;
    --h2-confirm-font-size: 14.667px;
    --h2-error-font-size: 14.667px;
    --input-font-size: 14.667px;
    --listheading-font-size: 14.667px;
    --listrow0-font-size: 14.667px;
    --listrow1-font-size: 14.667px;
    --listsubtotal-font-size: 14.667px;
    --listtop-font-size: 14.667px;
    --listtotal-font-size: 14.667px;
    --menuOut-font-size: initial;
    --menuOut-a-font-size: initial;
    --menuOver-font-size: initial;
    --menuOver-a-font-size: initial;
    --select-font-size: 14.667px;
    --span-indicator-font-size: initial;
    --submenu-font-size: initial;
    --submit-font-size: 14.667px;
    --td-font-size: 14.667px;
    --textarea-font-size: 14.667px;
    --th-font-size: 14.667px;
    --version_info-font-size: initial;
}
