/* stylesheet for ledger-smb */

/* general stuff */
A:link { color: blue; text-decoration: none; }
A:visited { color: blue; text-decoration: none; }
A:active { color: blue; text-decoration: underline; }
A:hover { color: blue;
  background-color: #cccccc;
  text-decoration: none;
}

body {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  color: black;
  font-size: 14.667px;
  margin: 1px;
  background-color: white;
  scrollbar-arrow-color: white;
  scrollbar-3dlight-color: #dddddd;
  scrollbar-highlight-color: #aaaaaa;
  scrollbar-face-color: #aaaaaa;
  scrollbar-shadow-color: #aaaaaa;
  scrollbar-track-color: #cccccc;
  scrollbar-darkshadow-color: #666666;
}

td {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
}
span.warning_label {
  font-weight: bold;
  color: red
}

th {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
  font-weight: normal;
}

/* login and admin */
.login {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
}
body.login {
  background: #dddddd;
  color: black;
}
h1.login {
  font-size: 14.667px;
}
table.login {
  background-color: #bbbbbb;
  padding: 20px;
}
td.login {
  text-align: center;
}
th.login {
  text-align: right;
}

body.admin {
  background-color: white;
  color: black;
}

body.menu {
  background-color: white;
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
  color: black;
}

body.menu img {
  display: none;
}

body.menu ul, body.menu li {
  padding: 2px;
  list-style: none;
  cursor: pointer;
  background-color: white;
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
  color: black;
  border: none;
  padding: 2px;
  text-align: left;
}

body.menu ul {
  margin-top: 2px;
}

.listtop { font-size: 14.667px; background-color: #e0e0e0; color: black; }
.listheading { font-size: 14.667px; background-color: #eeeeee;
               color: black; font-weight: bold; }
A.listheading:link, A.listheading:active, A.listheading:visited {
  color: black;
  text-decoration: none; }
.listrow1, table.dynatable tr:nth-child(odd) { font-size: 14.667px; background-color: #f8f8f8; color: black; vertical-align: top; }
.listrow0, table.dynatable tr:nth-child(even) { font-size: 14.667px; background-color: #f0f0f0; color: black; vertical-align: top; }
.listsubtotal { font-size: 14.667px; background-color: #eeeeee; color: black; }
.listtotal { font-size: 14.667px; background-color: #e0e0e0; color: black; }

textarea {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  border: 1px solid black;
  font-size: 14.667px;
  background-color: #eeeeee;
  font-weight: normal;
}

input {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  border: 1px solid black;
  font-size: 14.667px;
  background-color: #eeeeee;
  font-weight: normal;
}

select {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
}

.submit {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
  color: black;
  font-weight: normal;
}

.checkbox, .radio {
  font-family: Andale Mono, Lucidatypewriter, Courier New, monospace;
  font-size: 14.667px;
}

.plus0 {    /* font color for negative numbers */
  color: red;
}

.plus1 {
  color: green;
}

hr {
  background-color: #eeeeee;
}

h2.confirm {
  color: blue;
  font-size: 14.667px;
}

h2.error {
  color: red;
  font-size: 14.667px;
}


/* media stuff */

@media screen {
  .noscreen {   /* items with this class won't display */
    display: none;
  }
}

@media print {
  .noprint {   /* items with this class won't print */
    display: none;
  }
}
