/* stylesheet for ledger-smb */

@import url("system/ledgersmb-common.css");

/* CSS3 Variables */

:root {
    /* Backgrounds */
    --a-hover-bg-clr: transparent;
    --body-bg-clr: #fff;
    --body-admin-bg-clr: #fff;
    --body-app-login-bg: #acd8f6;
    --body-login-bg: initial;
    --body-menu-bg: initial;
    --body-menu-ul-bg-clr: initial;
    --cornerlogo-bg: inherit;
    --div-autocomplete-bg-clr: white;
    --div-autocomplete-ul-li-selected-bg-clr: #ccc;
    --hr-bg-clr: initial;
    --input-bg-clr: #eee;
    --input-remove-before-bg: white;
    --input-remove-checked-before-bg: red;
    --listheading-bg-clr: initial;
    --listheading-bg-clr: #bcd8f4;
    --listrow0-hover-bg-clr: #aaa2a0;
    --listrow0-bg-clr: #ffeeec;
    --listrow1-hover-bg-clr: #a4a4a6;
    --listrow1-bg-clr: #e6e6fa;
    --listsubtotal-bg-clr: initial;
    --listsubtotal-bg-clr: #5a7d9b;
    --listtop-bg-clr: #154d84;
    --listtotal-bg-clr: initial;
    --listtotal-bg-clr: #004d99;
    --menuOut-bg-clr: initial;
    --menuOut-a-bg-clr: initial;
    --menuOver-bg-clr: initial;
    --menuOver-a-bg-clr: initial;
    --notes_div-div-note-bg-clr: #ddd;
    --notes_div-div-note-hover-bg-clr: #ddd;
    --pwfeedback-failure-bg-clr: pink;
    --pwfeedback-success-bg-clr: lightgreen;
    --pw-strength-good-bg-clr: yellow;
    --pw-strength-strong-bg-clr: lightgreen;
    --pw-strength-weak-bg-clr: pink;
    --span-indicator-bg-clr: #eee;
    --span-no-submit-bg: red;
    --submenu-a-hover-bg: #004a80;
    --submit-bg-clr: 0;
    --table-login-bg-clr: #fff;
    --textarea-bg-clr: #eee;
    --td-cleared-future-bg: white;
    --td-cleared-past-bg: yellow;
    --textarea-bg-clr: initial;
    --toast-error-bg: linear-gradient(to right bottom, #d88, #eaa);
    --toast-info-bg: linear-gradient(to right bottom, #bcd8f4, white);
    --toast-success-bg: linear-gradient(to right bottom, #8d8, white);
    --top_menu-bg: none;
    --tr-active-bg-clr: #ddd;
    --tr-record-bg-clr: pink;
    --tr-suspect-bg-clr: red;
    --tr-warning-bg-clr: yellow;

    /* Color */
    --a-active-clr: initial;
    --a-hover-clr: initial;
    --a-link-clr: initial;
    --a-listheading-link-clr: white;
    --a-visited-clr: initial;
    --body-clr: #444;
    --body-admin-clr: black;
    --body-app-login-clr: black;
    --body-login-clr: initial;
    --body-menu-clr: black;
    --body-menu-clr: black;
    --financial-statement-a-clr: black;
    --h2-confirm-clr: blue;
    --h2-error-clr: red;
    --input-remove--before-clr: white;
    --listheading-clr: black;
    --listheading-clr: black;
    --listheading-clr: black;
    --listrow0-clr: initial;
    --listrow1-clr: black;
    --listrow1-clr: black;
    --listsubtotal-clr: white;
    --listsubtotal-clr: white;
    --listsubtotal-clr: white;
    --listtop-clr: white;
    --listtotal-clr: white;
    --listtotal-clr: white;
    --menuOut-clr: initial;
    --menuOut-a-clr: initial;
    --menuOver-clr: initial;
    --menuOver-a-clr: initial;
    --plus0-clr: red;
    --plus1-clr: green;
    --span-no-submit-clr: white;
    --span-warning_label-clr: red;
    --submenu-a-clr: #004a80;
    --submenu-a-hover-clr: #eee;
    --submit-clr: #000080;
    --td-cleared-future-clr: red;
    --td-cleared-past-clr: black;
    --textBox-ReadOnly-color: gray;
    --thead-a-link-clr: black;
    --tr-suspect-clr: white;
    --tr-warning-clr: black;

    /* Borders */
    --a-active-border: initial;
    --body-menu-ul-border: initial;
    --cornerlogo-border: 1px solid #000;
    --div-autocomplete-border: 1px solid #888;
    --financial-statement-tr-total-td-amount-border-top: thick double black;
    --input-border: 1px solid #888;
    --listheading-border: initial;
    --listtop-border: initial;
    --menuOut-border: initial;
    --menuOut-a-border: initial;
    --menuOver-border: initial;
    --menuOver-a-border: initial;
    --notes_div-div-note-border: 2px;
    --notes_div-div-note-hover-border-style: groove;
    --span-indicator-border: 1px solid black;
    --submit-border: initial;
    --table-warning-border: 0;
    --textarea-border: 1px solid #888;

    /* Fonts-familly */
    --body-font-family: arial, verdana, helvetica, sans-serif;
    --body-menu-font-family: verdana, arial, helvetica, sans-serif;
    --checkbox-font-family: verdana, arial, helvetica, sans-serif;
    --input-font-family: verdana, arial, helvetica, sans-serif;
    --login-font-family: verdana, arial, helvetica, sans-serif;
    --select-font-family: verdana, arial, helvetica, sans-serif;
    --submenu-font-family: verdana, arial, helvetica, sans-serif;
    --submit-font-family: initial;
    --td-font-family: verdana, arial, helvetica, sans-serif;
    --textarea-font-family: inherit;
    --th-font-family: verdana, arial, helvetica, sans-serif;

    /* Fonts-size */
    --body-font-size: 10pt;
    --body-menu-font-size: 11px;
    --body-menu-ul-font-size: initial;
    --checkbox-font-size: 10pt;
    --company_info-font-size: smaller;
    --div-autocomplete-ul-li-font-size: 10px;
    --div-title-font-size: large;
    --h1-login-font-size: initial;  /* 18pt; */
    --h2-confirm-font-size: 14pt;
    --h2-error-font-size: 14pt;
    --input-font-size: 11px;
    --listheading-font-size: 10pt;
    --listrow0-font-size: initial;
    --listrow1-font-size: 10pt;
    --listsubtotal-font-size: 10pt;
    --listtop-font-size: 120%;
    --listtotal-font-size: 10pt;
    --menuOut-font-size: initial;
    --menuOut-a-font-size: initial;
    --menuOver-font-size: initial;
    --menuOver-a-font-size: initial;
    --select-font-size: 10pt;
    --span-indicator-font-size: 10px;
    --submenu-font-size: 12px;
    --submit-font-size: 10pt;
    --td-font-size: 9pt;
    --textarea-font-size: initial;
    --th-font-size: 10pt;
    --version_info-font-size: 9pt;
}
