body {
    overflow-y: auto;
}

div.setupconsole {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 25em;
    padding: 2em;
    padding-bottom: 2em;
    border-style: outset;
    margin-top: 2em;
    margin-bottom: 2em;
}

div {
    overflow: auto;
}

#yesno label {
    width: 2em
}


label {
    width: 10em;
    text-align: right;
    float: left;
    border-width: 1px;
    margin: 0;
    padding-right: 0.5em;
    margin-top: 0.5em;
}
input {
    width: 14em;
    margin: 0;
    text-align: left;
    float: left;
    border-width: 3px;
    margin-top: 0.5em;
}

#yesno input {
    width: 1em;
    margin-right: 3em;
}

#yesno span {
    float: left;
    display: block;
}

img.logo {
    border-style: none;
    width: 16em;
    height: 8em;
}

button {
    margin-top: 10px;
}

.listtop {
    font-size: larger;
}

tr.listheading {
    background-color: lightgrey;
}
tr.listrow:nth-child(even) {background: #FFF}
tr.listrow:nth-child(odd) {background: #EEE}

td.dijitStretch {
    min-width: 125px;
}